<div class="d-flex flex-column h-100">
    <ng-container *ngIf="asuntoSeleccionado; else elseTemplate">
        <div class="d-flex flex-column h-100">
            <div class="p-3 border-bottom  w-100 flex-shrink-0">
  <div class="d-flex justify-content-between align-items-start mb-3">
    <!-- Columna izquierda -->
    <div class="flex-grow-1 me-3" style="min-width: 0">
      
      <!-- Encabezado -->
      <div class="d-flex align-items-center mb-2">
        <span class="me-2 tooltip-wrapper down center"
              [attr.data-tooltip]="'Prioridad ' + asuntoSeleccionado.prioridad">
          <i class="fas fa-star destello"
             [ngClass]="colors.getPrioridadColor(asuntoSeleccionado.prioridad)"></i>
        </span>
        <h2 class="fw-bold text-truncate mb-0 fs-4">
          {{ asuntoSeleccionado.noOficio }}
        </h2>
      </div>

      <!-- Fechas -->
      <div class="text-muted small mb-1">
        <i class="fas fa-calendar-day text-deep-blue me-1"></i>
        <span class="fw-semibold">Recepción:</span> {{ asuntoSeleccionado.fechaRecepcion | fechaMexico:true}}
      </div>
      
      <div class="text-muted small mb-1" *ngIf="asuntoSeleccionado.fechaCumplimiento as fecha">
        <i class="fas fa-calendar-check text-deep-blue me-1"></i>
        <span class="fw-semibold">Cumplimiento:</span> {{ fecha | fechaMexico:true }} hrs
      </div>
      
      <div class="text-muted small">
        <i class="fa-solid fa-hourglass-half text-deep-blue me-1"></i>
        <span class="fw-semibold">Tiempo transcurrido: </span>
        <span class="fw-bolder">{{ asuntoSeleccionado.tiempoTranscurrido }}</span>
      </div>
    </div>

    <!-- Columna derecha -->
    <div class="text-end flex-shrink-0">
      <span class="badge rounded-3 px-3 py-2"
            [ngClass]="colors.getEstadoColor(asuntoSeleccionado.idStatusAsunto)">
        <i class="fas me-1"
           [ngClass]="colors.getEstadoIcon(asuntoSeleccionado.idStatusAsunto)"></i>
        {{ asuntoSeleccionado.statusAsunto }}
      </span>
    </div>
  </div>

  <!-- Botones -->
  <div class="d-flex gap-2 justify-content-between ">
    <button [disabled]="asuntoSeleccionado.puedeConcluir == 0"
            class="btn btn-primary btn-sm d-flex align-items-center"
            (click)="openConcluirModal()">
      <i class="fas fa-check-double me-2"></i> Concluir
    </button>
    <div [attr.data-tooltip]="'Recargar'" class="tooltip-wrapper center  px-3 text-success" role="button"
                    (click)="consultarDetallesAsunto(this.asuntoSeleccionado.idAsunto); consultarExpedienteAsunto(this.asuntoSeleccionado.idAsunto); consultarTurnadosAsunto(this.asuntoSeleccionado.idAsunto); consultarHistorial(this.asuntoSeleccionado.idAsunto);">
                    <i class="fa-solid fa-rotate-right me-2"></i>
    </div>
  </div>

</div>

            <ul class="nav nav-tabs px-4 pt-3 border-0 nav-fill " role="tablist" >
                <li class="nav-item" role="presentation">
                    <button class="nav-link text-deep-blue" [class.active]="tabActiva === 'detalles'"
                    (click)="tabActiva = 'detalles'; consultarDetallesAsunto(this.asuntoSeleccionado.idAsunto);">
                    <i class="fas fa-file-alt me-2"></i> Detalles
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link text-deep-blue" [class.active]="tabActiva === 'expediente'"
                    (click)="tabActiva = 'expediente'; consultarExpedienteAsunto(this.asuntoSeleccionado.idAsunto, true);">
                    <i class="fas fa-folder-open me-2"></i> Expediente
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link text-deep-blue" [class.active]="tabActiva === 'turnados'"
                    (click)="tabActiva = 'turnados'; consultarTurnadosAsunto(this.asuntoSeleccionado.idAsunto);">
                    <i class="fas fa-sync me-2"></i> Turnados
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link text-deep-blue" [class.active]="tabActiva === 'historial'"
                (click)="tabActiva = 'historial'; consultarHistorial(this.asuntoSeleccionado.idAsunto);">
                <i class="fas fa-clock me-2"></i> Historial
            </button>
        </li>
            </ul>
            <!-- Contenido de tabs con scroll -->
            <div class="flex-grow-1 p-4 overflow-auto" >
                <!-- Detalles -->
                <div *ngIf="tabActiva === 'detalles'" style="margin-top: -15px;">
                    <!-- Información General -->
                   <span style="left: 99%; top: 20px; position: sticky; z-index: 3;"  class="tooltip-wrapper down center" [attr.data-tooltip]="'Guardar'"><i role="button" class=" destello  text-success fas fa-save  fa-2x me-2"*ngIf="asuntoSeleccionadoModificado" (click)="guardarCambios()"></i></span>  <!-- y guardar -->                
                    <div class="section">
                        <div class="section-header d-flex ">
                            <i class="fas fa-file-alt"></i>
                            <h6 class="fw-bold mb-0">Información General</h6>
                            <div [ngClass]="{'d-none': asuntoSeleccionado.idStatusAsunto != 1}" class="btn btn-outline-secondary btn-sm" (click)="editar= !editar;">
                                <i class="fas fa-edit me-2"></i> Editar
                            </div>
                            
                        </div>
                        

                        <div class="row">
                            <div class="col-md-4 ">
                                <div class="field">
                                    <label>Tipo de Documento:</label>
                                    <ng-container *ngIf="editar; else tipoDocumentoView">
                                        <select id="idTipoDocumento" class="form-control" [(ngModel)]="asuntoSeleccionado.idTipoDocumento" (ngModelChange)="asuntoSeleccionadoModificado = true"
                                            >
                                            <option *ngFor="let t of tipoDocumentoDS" [value]="t.idTipoDocumento">{{ t.tipoDocumento }}</option>
                                        </select>
                                    </ng-container>
                                    <ng-template #tipoDocumentoView>
                                        <div>{{encontrarPorId(tipoDocumentoDS, 'idTipoDocumento', asuntoSeleccionado.idTipoDocumento,'tipoDocumento') || ''}}</div>
                                    </ng-template>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="field">
                                    <label>No. de Oficio:</label>
                                    <ng-container *ngIf="editar; else noOficioView">
                                        <input type="text" (ngModelChange)="asuntoSeleccionadoModificado = true" [(ngModel)]="asuntoSeleccionado.noOficio" class="editControl" />
                                    </ng-container>
                                    <ng-template #noOficioView>
                                        <div>{{ asuntoSeleccionado.noOficio }}</div>
                                    </ng-template>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="field">
                                    <label>Es Volante:</label>
                                    <div>{{ asuntoSeleccionado.esVolante ? 'Sí' : 'No' }}</div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4" *ngIf="asuntoSeleccionado?.esVolante">
                                <div class="field">
                                    <label>Número de Volante:</label>
                                    <div>{{ asuntoSeleccionado.numeroVolante }}</div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="field">
                                    <label>Es Guía:</label>
                                    <div>{{ asuntoSeleccionado.esGuia ? 'Sí' : 'No' }}</div>
                                </div>
                            </div>

                            <div class="col-md-4" *ngIf="asuntoSeleccionado?.esGuia">
                                <div class="field">
                                    <label>Número de Guía:</label>
                                    <div>{{ asuntoSeleccionado.numeroGuia }}</div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="field">
                                    <label>Tema:</label>
                                    <ng-container *ngIf="editar; else temaView">
                                        <select id="idTema" class="form-control" [(ngModel)]="asuntoSeleccionado.idTema"> (ngModelChange)="asuntoSeleccionadoModificado = true"
                                             >
                                            
                                            <option *ngFor="let t of temaDS" [value]="t.idTema">{{ t.tema }}</option>
                                        </select>
                                    </ng-container>
                                    <ng-template #temaView>
                                        <div>{{encontrarPorId(temaDS, 'idTema', asuntoSeleccionado.idTema,'tema') || ''}}</div>
                                    </ng-template>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="field">
                                    <label>Fecha de Cumplimiento:</label>
                                    <ng-container *ngIf="editar; else fechaCumplimientoView">
                                        <input type="datetime-local" 
                                        [ngModel]="getFechaHoraLocal('fechaCumplimiento')"
                                         (ngModelChange)="setFechaHoraLocal('fechaCumplimiento', $event)"
                                            class="editControl" />
                                    </ng-container>
                                    <ng-template #fechaCumplimientoView>
                                        <span *ngIf="asuntoSeleccionado.fechaCumplimiento as fecha; else NoFecha">{{ fecha | fechaMexico:true }} hrs</span>
                                        <ng-template #NoFecha>Sin fecha de cumplimiento</ng-template>
                                    </ng-template>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="field">
                                    <label>Prioridad:</label>
                                    <div>{{ asuntoSeleccionado.prioridad }}</div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="field">
                                    <label>Estatus:</label>
                                    <div>{{ asuntoSeleccionado.statusAsunto }}</div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="field">
                                    <label>Usuario que registra:</label>
                                    <div>{{ asuntoSeleccionado.usuarioRegistra }}</div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="field">
                                    <label>Unidad Administrativa:</label>
                                    <div>{{ asuntoSeleccionado.unidadAdministrativa }}</div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="field">
                                    <label>Fecha de Registro:</label>
                                    <div>{{ asuntoSeleccionado.fechaRegistro | fechaMexico:true }}</div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="field">
                                    <label>Fecha del Documento:</label>
                                    <ng-container *ngIf="editar; else fechaDocumentoView">
                                        <input type="date" 
                                        [ngModel]="getFechaSoloFecha('fechaDocumento')"
                                        (ngModelChange)="setFechaSoloFecha('fechaDocumento', $event)"
                                            class="editControl" />
                                    </ng-container>
                                    <ng-template #fechaDocumentoView>
                                        <div>{{ asuntoSeleccionado.fechaDocumento | fechaMexico }}</div>
                                    </ng-template>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <div class="field">
                                    <label>Descripción del Asunto:</label>
                                    <ng-container *ngIf="editar; else descripcionView">
                                        <textarea (ngModelChange)="asuntoSeleccionadoModificado = true" [(ngModel)]="asuntoSeleccionado.descripcionAsunto"
                                            class="editControl" rows="4"></textarea>
                                    </ng-container>
                                    <ng-template #descripcionView>
                                        <div style="white-space: pre-line;">{{ asuntoSeleccionado.descripcionAsunto }}
                                        </div>
                                    </ng-template>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Datos de Recepción -->
                    <div class="section">
                        <div class="section-header">
                            <i class="fas fa-inbox"></i>
                            <h6 class="fw-bold mb-0">Datos de Recepción</h6>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="field">
                                    <label>Fecha de Recepción:</label>
                                    <div>{{ asuntoSeleccionado.fechaRecepcion | fechaMexico:true}}</div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="field">
                                    <label>Remitente - Nombre:</label>
                                    <ng-container *ngIf="editar; else remitenteNombreView">
                                        <input type="text" (ngModelChange)="asuntoSeleccionadoModificado = true" [(ngModel)]="asuntoSeleccionado.remitenteNombre"
                                            class="editControl" />
                                    </ng-container>
                                    <ng-template #remitenteNombreView>
                                        <div>{{ asuntoSeleccionado.remitenteNombre }}</div>
                                    </ng-template>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="field">
                                    <label>Remitente - Cargo:</label>
                                    <ng-container *ngIf="editar; else remitenteCargoView">
                                        <input type="text" (ngModelChange)="asuntoSeleccionadoModificado = true" [(ngModel)]="asuntoSeleccionado.remitenteCargo"
                                            class="editControl" />
                                    </ng-container>
                                    <ng-template #remitenteCargoView>
                                        <div>{{ asuntoSeleccionado.remitenteCargo }}</div>
                                    </ng-template>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="field">
                                    <label>Remitente - Dependencia:</label>
                                    <ng-container *ngIf="editar; else remitenteDepView">
                                        <input type="text" (ngModelChange)="asuntoSeleccionadoModificado = true" [(ngModel)]="asuntoSeleccionado.remitenteDependencia"
                                            class="editControl" />
                                    </ng-container>
                                    <ng-template #remitenteDepView>
                                        <div>{{ asuntoSeleccionado.remitenteDependencia }}</div>
                                    </ng-template>
                                </div>
                            </div>


                            <div class="col-md-4">
                                <div class="field">
                                    <label>Dirigido a:</label>
                                    <ng-container *ngIf="editar; else dirigidoAView">
                                        <input type="text" (ngModelChange)="asuntoSeleccionadoModificado = true" [(ngModel)]="asuntoSeleccionado.dirigidoA"
                                            class="editControl" />
                                    </ng-container>
                                    <ng-template #dirigidoAView>
                                        <div>{{ asuntoSeleccionado.dirigidoA }}</div>
                                    </ng-template>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="field">
                                    <label>Cargo:</label>
                                    <ng-container *ngIf="editar; else dirigidoCargoView">
                                        <input type="text" (ngModelChange)="asuntoSeleccionadoModificado = true" [(ngModel)]="asuntoSeleccionado.dirigidoACargo"
                                            class="editControl" />
                                    </ng-container>
                                    <ng-template #dirigidoCargoView>
                                        <div>{{ asuntoSeleccionado.dirigidoACargo }}</div>
                                    </ng-template>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <!-- Dependencia Dirigido A -->
                            <div class="col-md-4">
                                <div class="field">
                                    <label>Dependencia:</label>
                                    <ng-container *ngIf="editar; else dirigidoDepView">
                                        <input type="text" (ngModelChange)="asuntoSeleccionadoModificado = true" [(ngModel)]="asuntoSeleccionado.dirigidoADependencia"
                                            class="editControl" />
                                    </ng-container>
                                    <ng-template #dirigidoDepView>
                                        <div>{{ asuntoSeleccionado.dirigidoADependencia }}</div>
                                    </ng-template>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="field">
                                    <label>Medio:</label>
                                    <ng-container *ngIf="editar; else medioView">
                                        <select id="idMedio" class="form-control" [(ngModel)]="asuntoSeleccionado.idMedio" (ngModelChange)="asuntoSeleccionadoModificado = true">
                                             
                                            <option value="null" disabled selected>Seleccione</option>
                                            <option *ngFor="let t of medioDS" [value]="t.idMedioRecepcion">{{ t.medioRecepcion }}</option>
                                        </select>
                                    </ng-container>
                                    <ng-template #medioView>
                                        <div>{{encontrarPorId(medioDS, 'idMedioRecepcion', asuntoSeleccionado.idMedio,'medioRecepcion') || ''}} </div>
                                    </ng-template>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Observaciones -->
                    <div class="section">
                        <div class="section-header">
                            <i class="fas fa-comment-alt"></i>
                            <h6 class="fw-bold mb-0">Observaciones</h6>
                        </div>
                        <div class="field">
                            <div class="">
                                <ng-container *ngIf="editar; else observacionesView">
                                    <textarea (ngModelChange)="asuntoSeleccionadoModificado = true" [(ngModel)]="asuntoSeleccionado.observaciones" class="editControl"
                                        rows="3"></textarea>
                                </ng-container>

                                <ng-template #observacionesView>
                                    <div class="col-12">
                                        <div class="field">
                                            <div>{{ asuntoSeleccionado.observaciones || 'Sin observaciones' }}</div>
                                        </div>
                                    </div>
                                </ng-template>

                            </div>
                        </div>
                    </div>
                </div>


                    <!-- Expediente -->
                    <div *ngIf="tabActiva === 'expediente'">
                        <div class="p-4">
                            <!-- Documento principal -->
                            <div class="mb-4">
                                <div class="d-flex justify-content-between align-items-center mb-2">
                                    <h6 class="fw-bold mb-0">Documento Principal</h6>
                                    <div *ngIf="asuntoSeleccionado.idStatusAsunto == 1 " role="button" class="btn btn-sm btn-outline-success" (click)="openReemplazarModal()">
                                        <i class="fas fa-upload me-2"></i> Reemplazar Documento
                                    </div >
                                </div>

                                <div *ngIf="documentoPrincipal!=null" class="card p-3 d-flex flex-row justify-content-between align-items-center">
                                    <div class="d-flex align-items-center gap-3">
                                        <i class="fas fa-file-alt fa-2x text-primary"></i>
                                        <div>
                                            <div class="fw-semibold">{{ documentoPrincipal.nombre }}</div>
                                            <div class="text-muted small text-uppercase">
                                               {{ documentoPrincipal.nombre?.split('.').pop() }} • {{
                                                documentoPrincipal.size | sizeFormat
                                                }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex gap-2">
                                        <button class="btn btn-sm btn-light"
                                            (click)="openDocumentoVisor(documentoPrincipal)">

                                            <i class="fas fa-eye"></i>
                                        </button>
                                        <a  target="_blank" href = "{{baseurl + documentoPrincipal.ruta}}" download> 
                                            <button class="btn btn-sm btn-light" >
                                                <i class="fas fa-download"></i>
                                            </button>                                         
                                        </a>
                                        <!-- <button class="btn btn-sm btn-light"
                                            (click)="eliminarDocumento(documentoPrincipal.idDocumentoAsunto)">

                                            <i class="fas fa-trash-alt"></i>
                                        </button> -->
                                        
                                    </div>
                                </div>
                            </div>

                            <hr class="p-2">

                            <!-- Anexos -->
                            <div>
                                <div class="d-flex justify-content-between align-items-center mb-2">
                                    <h6 class="fw-bold mb-0">Anexos</h6>
                                    <button class="btn btn-sm btn-outline-success" (click)="openagregarAnexosModal()">
                                        <i class="fas fa-plus me-2"></i> Agregar Anexos
                                    </button>
                                </div>

                                <div *ngIf="anexos.length > 0; else sinAnexos">
                                    <div class="card mb-2 p-3" *ngFor="let anexo of anexos">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="d-flex align-items-center gap-3">
                                                <i class="fas fa-paperclip fa-lg text-secondary"></i>
                                                <div>
                                                    <div class="fw-semibold">{{ anexo.nombre }}</div>
                                                    <div class="text-muted small text-uppercase">{{ anexo.nombre?.split('.').pop() }} • {{ anexo.size | sizeFormat }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="d-flex gap-2">
                                                <button class="btn btn-sm btn-light"
                                                    (click)="openDocumentoVisor(anexo)">
                                                    <i class="fas fa-eye"></i>
                                                </button>
                                                <a  target="_blank" href = "{{baseurl + anexo.ruta}}" download> 
                                                    <button class="btn btn-sm btn-light" >
                                                    <i class="fas fa-download"></i>
                                                </button>                                         
                                                </a>

                                                <button class="btn btn-sm btn-light"
                                                    (click)="openeliminarDocumentoModal(anexo.idDocumentoAsunto)">

                                                    <i class="fas fa-trash-alt"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <ng-template #sinAnexos>
                                    <p class="text-muted">No hay anexos para este asunto.</p>
                                </ng-template>
                            </div>
                            <hr class="p-2">

                            <!-- Respuestas turnados -->
                            <div>
                                <div class="d-flex justify-content-between align-items-center mb-2">
                                    <h6 class="fw-bold mb-0">Respuestas </h6>                                    
                                </div>

                                <div *ngIf="respuestasDocs.length > 0; else sinRespuestas">
                                    <div class="card mb-2 p-3" *ngFor="let respuesta of respuestasDocs">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="d-flex align-items-center gap-3">
                                                <i class="fas fa-paperclip fa-lg text-secondary"></i>
                                                <div>
                                                    <div class="fw-semibold">{{ respuesta.nombre }}</div>
                                                    <div class="text-muted small text-uppercase">{{ respuesta.nombre?.split('.').pop() }} • {{ respuesta.size  | sizeFormat}}</div>
                                                    <div class="text-muted small">Turnado No. {{ respuesta.consecutivoTurnado  }} </div>
                                                </div>
                                            </div>
                                            <div class="d-flex gap-2">
                                                <button class="btn btn-sm btn-light"
                                                    (click)="openDocumentoVisor(respuesta)">
                                                    <i class="fas fa-eye"></i>
                                                </button>
                                                <a  target="_blank" href = "{{baseurl + respuesta.ruta}}" download> 
                                                    <button class="btn btn-sm btn-light" >
                                                    <i class="fas fa-download"></i>
                                                </button>                                         
                                                </a>                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <ng-template #sinRespuestas>
                                    <p class="text-muted">Todavía no  hay respuestas disponibles para este asunto.</p>
                                </ng-template>

                                <hr class="p-2">
                                <!-- Documento conclusion -->
                            <div class="mb-4">
                                <div class="d-flex justify-content-between align-items-center mb-2">
                                    <h6 class="fw-bold mb-0">Documento de conclusión</h6>
                                    <!-- <div role="button" class="btn btn-sm btn-outline-success" (click)="openReemplazarModal()">
                                        <i class="fas fa-upload me-2"></i> Reemplazar Documento
                                    </div > -->
                                </div>

                                <div *ngIf="documentoConclusion!=null" class="card p-3 d-flex flex-row justify-content-between align-items-center">
                                    <div class="d-flex align-items-center gap-3">
                                        <i class="fas fa-file-signature fa-2x text-primary"></i>
                                        <div>
                                            <div class="fw-semibold">{{ documentoConclusion.nombre }}</div>
                                            <div class="text-muted small text-uppercase">
                                                {{ documentoConclusion.nombre?.split('.').pop() }} • {{
                                                documentoConclusion.size | sizeFormat
                                                }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex gap-2">
                                        <button class="btn btn-sm btn-light"
                                            (click)="openDocumentoVisor(documentoConclusion)">

                                            <i class="fas fa-eye"></i>
                                        </button>
                                        <a  target="_blank" href = "{{baseurl + documentoConclusion.ruta}}" download> 
                                            <button class="btn btn-sm btn-light" >
                                                <i class="fas fa-download"></i>
                                            </button>                                         
                                        </a>
                                        <!-- <button class="btn btn-sm btn-light"
                                            (click)="eliminarDocumento(documentoPrincipal.idDocumentoAsunto)">

                                            <i class="fas fa-trash-alt"></i>
                                        </button> -->
                                        
                                    </div>
                                </div>
                            </div>

                            
                            </div>
                        </div>
                    </div>

                    <!-- Asignaciones -->
                    <div *ngIf="tabActiva === 'turnados'">
                        <div class="p-4">

                            <div class="d-flex justify-content-between align-items-center mb-3 ">
                                <h6 class="fw-bold mb-0">Turnados del Asunto</h6>
                                <button class="btn btn-primary  tooltip-wrapper center up" *ngIf="asuntoSeleccionado.idStatusAsunto != 3"
                                    [attr.data-tooltip]="'Turnar'" (click)="openTurnarModal()">
                                    <i class="fas fa-share "></i>
                                </button>
                            </div>

                            <div *ngFor="let asignacion of turnadosAsunto" class="card p-3 mb-2" >
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div  class="d-flex align-items-center gap-3 flex-shrink-1 flex-grow-1" 
            style="flex-basis: auto; word-wrap: break-word; overflow-wrap: break-word; width: 90%;">
                                                
                                                <div class="icon-circle tooltip-wrapper center " style="min-width:33px; white-space: normal;"  [attr.data-tooltip]="'' + asignacion.statusTurnado"
                                                [ngClass]="colors.getEstadoTurnadoColor(asignacion.idStatusTurnado)">
                                                <i class="fas fa-share"></i></div>
                                                <div class="d-flex flex-column">
                                                    <div class="mb-0 fw-semibold">{{ asignacion.unidadResponsable }}</div>
                                                    <small class="text-muted">No. de turnado: {{ asignacion.consecutivo}}</small>
                                                    <small class="text-muted">{{ asignacion.instruccion}}</small>
                                                    <small class="text-muted">Asignado el <strong> {{ asignacion.fechaRegistro | fechaMexico}}</strong> por <strong> {{asignacion.usuarioTurna}} </strong> </small> 
                                                    <small *ngIf="asignacion.atendidoPor" class="text-muted">Responsable: <strong>{{ asignacion.atendidoPor}}</strong> el día <strong>{{ asignacion.fechaModificacion | fechaMexico:true}}</strong></small>
                                                    <small *ngIf="asignacion.idStatusTurnado == 4" class="text-muted">Respuesta generada el día  <strong>{{ asignacion.fechaModificacion | fechaMexico:true}}</strong> por <strong>{{ asignacion.responsable}} </strong></small>
                                                    <small class="text-muted">Estado de la respuesta: <strong> {{asignacion.statusTurnado}}</strong></small>
                                                </div>
                                            </div>
                                    <!-- <div class="d-flex align-items-center gap-2">
                                        <button class="btn btn-sm btn-outline-secondary"><i
                                                class="fas fa-edit"></i></button>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Historial -->
                    <div *ngIf="tabActiva === 'historial'">
                        <h6 class="fw-bold mb-3">Historial del asunto</h6>
                        <div class="trazabilidad-container">

                        <!-- Sección Asunto Registrado -->
                        <section class="asunto-section">
                            <div class="etiqueta">
                            <div class="circle asunto">
                                <i class="fas fa-file-arrow-down"></i>
                            </div>
                            <div class="connector" *ngIf="historial.asuntoRegistrado.idStatusAsunto === 2"></div>
                            <div class="texto">
                                <div class="titulo">Asunto registrado</div>
                                <div>Oficio: {{ historial.asuntoRegistrado.numeroOficio }}</div>
                                <div>Fecha: {{ historial.asuntoRegistrado.fechaRegistro | fechaMexico:true }}</div>
                                <div>Registró: {{ historial.asuntoRegistrado.usuarioRegistra }}</div>
                            </div>
                            </div>
                        </section>

                        <!-- 🟡 Sección Turnados (horizontal) -->
                        <section class="turnados-section">
                            <div class="turnado" *ngFor="let t of historial.turnados">
                            <div class="turnado-title"> {{ t.numeroTurnado }}. {{ t.areaResponsable }} - <small class="text-deep-blue">{{t.instruccion}}</small> <br> <span class="small text-deep-blue">{{t.fechaRegistro | fechaMexico:true}}</span> </div>

								<div class="fases">
									<ng-container *ngFor="let f of t.fases; let i = index">
									<div class="etiqueta">
										<div class="circle turnado" [ngClass]="statusClass(f.idStatusTurnado)">
										<i [class]="f.icon || 'fas fa-times' "></i>
										</div>
									<!--  <div class="connector" *ngIf="i < t.fases.length - 1"></div> -->
										<div class="texto">
										<div class="titulo">{{ f.statusTurnado  }}</div>
										<div>Fecha: <strong> {{ f.fechaModificacion | fechaMexico:true }}</strong></div>
										<div>Usuario: <strong> {{ f.usuarioModifico }}</strong></div>
										<!-- <div>Responsable: <strong> {{ t.areaResponsable }}</strong></div> -->
										</div>
									</div>
									</ng-container>
								</div>
                            </div>
                        </section>

                        <!-- 🔵 Sección Asunto Concluido -->
                        <section class="asunto-section" *ngIf="historial.asuntoRegistrado.idStatusAsunto === 3">
                            <div class="etiqueta">
                            <div class="circle asunto final">
                                <i class="fas fa-check-double"></i>
                            </div>
                            <div class="texto">
                                <div class="titulo">Asunto concluido</div>
                                <!-- <div>Oficio: <strong>{{ historial.asuntoRegistrado.numeroOficio }} </strong> </div> -->
                                <div>Fecha: <strong>{{ historial.asuntoRegistrado.fechaConclusion | fechaMexico:true }} </strong> </div>
                                <div>Concluye: <strong>{{ historial.asuntoRegistrado.usuarioConcluye }} </strong> </div>
                            </div>
                            </div>
                        </section>
                        </div>

                        
                    </div>
            </div>
        </div>
    </ng-container>
    <ng-template #elseTemplate>
        <div class="d-flex align-items-center flex-column justify-content-center h-100">
            <img src="img\notSelected.png" alt="" style="width: 28%; mix-blend-mode: diference;">
            <p class="text-muted frmlabel pt-3">Selecciona un asunto para ver los detalles</p>
        </div>
    </ng-template>
</div>



<ng-template #editarModal let-aceptar="aceptar" let-cancelar="cancelar">
    <!-- vacío por ahora -->
</ng-template>

<ng-template #turnarModal let-aceptar="aceptar" let-cancelar="cancelar">
    <div class="container-fluid  ">
        <form [formGroup]="turnadoForm">
            <div class="row">
                <div class="col-md-12">
                    <label class="form-label frmlabel required" for="idUnidadResponsable"><i
                            class="p-1 fas fa-building-columns"> </i>Unidad Responsable</label>
                    <div class="input-icon-wrapper">
                        <i
                            [ngClass]="getValidationStatus(turnadoForm,'idUnidadResponsable') == 'valid' ? 'fas fa-check-circle icon valid-icon' : getValidationStatus(turnadoForm,'idUnidadResponsable') == 'invalid' ? 'fas fa-times-circle icon invalid-icon': 'd-none'"></i>
                        <select id="idUnidadResponsable" class="form-control" formControlName="idUnidadResponsable"
                            [class.invalid]="getValidationStatus(turnadoForm,'idUnidadResponsable') == 'invalid'"
                            [class.valid]="getValidationStatus(turnadoForm,'idUnidadResponsable') == 'valid'">
                            <option [value]="null" disabled selected>Seleccione una unidad</option>
                            <option *ngFor="let unidad of dependenciaDS" [value]="unidad.id">{{ unidad.area
                                }}</option>
                        </select>
                    </div>
                    <p *ngIf="getValidationStatus(turnadoForm,'unidadResponsable') == 'invalid'" class="invalid-field">
                        Este campo es
                        obligatorio.</p>
                </div>

                <div class="col-md-6">
                    <label class="form-label frmlabel required" for="instruccion"><i class="p-1 fas fa-list-check">
                        </i>Instrucción</label>
                    <div class="input-icon-wrapper">
                        <i
                            [ngClass]="getValidationStatus(turnadoForm,'idInstruccion') == 'valid' ? 'fas fa-check-circle icon valid-icon' : getValidationStatus(turnadoForm,'idInstruccion') == 'invalid' ? 'fas fa-times-circle icon invalid-icon': 'd-none'"></i>
                        <select id="idInstruccion" class="form-control" formControlName="idInstruccion"
                            [class.invalid]="getValidationStatus(turnadoForm,'idInstruccion') == 'invalid'"
                            [class.valid]="getValidationStatus(turnadoForm,'idInstruccion') == 'valid'">
                            <option [value]="null" disabled selected>Seleccione una instrucción</option>
                            <option *ngFor="let instr of instruccionesDS" [value]="instr.idInstruccion">{{ instr.instruccion }}
                            </option>
                        </select>
                    </div>
                    <p *ngIf="getValidationStatus(turnadoForm,'idInstruccion') == 'invalid'" class="invalid-field">Este
                        campo es obligatorio.</p>
                </div>

                <div
                    class="col-md-6 d-flex flex-v-center align-items-center mt-5 align-content-center justify-content-center">
                    <button class="btn btn-success" [disabled]="turnadoForm.invalid" (click)="addTurnado()">
                        <i class="fas fa-plus fw-bold"></i>
                    </button>
                </div>
            </div>
        </form>

        <div class="table-responsive w-100 mx-auto">
            <table class="table table-hover table-border-colapse ">
                <thead>
                    <tr>
                        <th><i class="p-1 fas fa-building-columns"></i> Unidad Responsable</th>
                        <th><i class="p-1 fas fa-list-check"></i>Instrucción</th>
                        <th>Borrar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngIf="turnados.length === 0">
                        <td colspan="3" class="text-center">No hay turnados agregados.</td>
                    </tr>
                    <tr *ngFor="let turnado of turnados; let i = index">
                        <td>{{ turnado.unidadResponsable }}</td>
                        <td>{{ turnado.instruccion }}</td>
                        <td class="text-center">
                            <i role="button" class="fas fa-trash text-secondary" (click)="removeTurnado(i)"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>


        <div class="w-100 d-flex justify-content-end">
            <button class="btn btn-outline-dark m-2" (click)="cancelar()">Cancelar</button>
            <button class="btn btn-primary m-2" [disabled]="!hayCambiosEnTurnados() || turnados.length == 0" (click)="aceptar()"> <i class="fas fa-share m-2"></i>Turnar </button>
        </div>

    </div>
</ng-template>

<ng-template #agregarAnexosModal let-aceptar="aceptar" let-cancelar="cancelar">
    <div class="container">
        <form [formGroup]="agregarAnexoForm">
            <div class="mb-3">
                <div class="w-100">
                    <!-- <span class="mb-2 d-block text-start frmlabel pt-0"><i class="fas fa-file-arrow-up p-2 "></i>Anexos del asunto</span> -->
                    <label class="text-center w-100">
                        <div id="drop-zone" class="drop-zone" [class.drag-over]="isDragOver"
                            (dragover)="onDragOver($event)" (dragleave)="onDragLeave($event)"
                            (drop)="onDrop(agregarAnexoForm, $event, true)">
                            <i class="fas fa-upload fa-3x"></i>
                            <p class="mt-3 mb-0 text-muted">Haz clic o arrastra varios archivos aquí</p>
                        </div>

                        <input multiple type="file"  accept=".pdf, .jpg, .jpeg, .png"  (change)="onFileSelectedAnexos(agregarAnexoForm, $event)"
                            id="documento" class="hidden-input">
                    </label>
                </div>

                <p *ngIf="getValidationStatus(agregarAnexoForm,'documento') == 'invalid'" class="invalid-field">Debe
                    adjuntar al menos un documento para continuar.</p>

            </div>
            <div class="table-responsive w-100 mx-auto">
                <table class="table table-hover table-border-colapse ">
                    <thead>
                        <tr>
                            <th><i class="p-1 fas fa-file-alt"></i> Nombre del documento</th>
                            <th>Borrar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngIf="anexosCargados.length === 0">
                            <td colspan="3" class="text-center">No hay anexos agregados.</td>
                        </tr>
                        <tr *ngFor="let anexo of anexosCargados; let i = index">
                            <td>{{ anexo.name }}</td>
                            <td class="text-center">
                                <i role="button" class="fas fa-trash text-secondary"
                                    (click)="borrarAnexoAgregado(i)"></i>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="d-flex justify-content-end mt-4">
                <button type="submit" class="btn btn-success" [disabled]="anexosCargados.length == 0" (click)="aceptar()">
                    <i class="fas fa-upload m-2 "></i>Cargar anexos
                </button>
            </div>
        </form>
    </div>
</ng-template>

<ng-template #confirmModal let-aceptar="aceptar" let-cancelar="cancelar">
    ¿Está seguro de que desea continuar?
</ng-template>

<ng-template #concluirModal let-aceptar="aceptar" let-cancelar="cancelar">

    <div class="container">
        <form [formGroup]="conclusionForm">
            <div class="mb-3">
                <div class="w-100">
                    <span class="mb-2 d-block text-start frmlabel pt-0"><i
                            class="fas fa-file-arrow-up p-2 "></i>Documento de conclusión</span>
                    

                    <label class="text-center w-100" *ngIf="!noRequiereDocumento">

                        <div id="drop-zone" class="drop-zone" [class.drag-over]="isDragOver"
                            (dragover)="onDragOver($event)" (dragleave)="onDragLeave($event)"
                            (drop)="onDrop(conclusionForm, $event)">
                            <i class="fas fa-upload fa-3x"></i>
                            <p class="mt-3 mb-0 text-muted">Haz clic o arrastra un archivo aquí</p>
                        </div>

                        <input type="file"  accept=".pdf, .jpg, .jpeg, .png"  (change)="onFileSelected(conclusionForm, $event)" id="documentoCierre"
                            class="hidden-input">
                    </label>

                </div>

				<!-- checkbox No requiere documento para conclusión -->
				<div class="form-check my-2">
					<input class="form-check-input" type="checkbox" value="" id="noRequiereDocumento" (change)="toggleNoRequiereDocumento($event)">
					<label class="form-check-label text-primary	fw-bold pt-1"  for="noRequiereDocumento">No requiere documento</label>
				</div>

                <p *ngIf="getValidationStatus(conclusionForm,'documento') == 'invalid'" class="invalid-field">Debe
                    adjuntar un documento de cierre.</p>

                <div *ngIf="getFileName('concluir')" class="mt-2 text-muted text-center">
                    Archivo seleccionado: <strong>{{ getFileName('concluir') }}</strong>
                </div>
            </div>

            <div class="d-flex justify-content-end mt-4">
                <button (click)="aceptar()"
                        class="btn btn-success"
                        [disabled]="!canConclude()">
                    Concluir
                </button>
            </div>
        </form>
    </div>

</ng-template>
<ng-template #reemplazarDocumentoModal let-aceptar="aceptar" let-cancelar="cancelar">

    <div class="container">
        <form [formGroup]="reemplazarDocumentoForm" >
            <div class="mb-3">
                <div class="w-100">
                    <span class="mb-2 d-block text-start frmlabel pt-0"><i
                            class="fas fa-file-arrow-up p-2 "></i>Documento del asunto</span>
                    <label class="text-center w-100">

                        <div id="drop-zone" class="drop-zone" [class.drag-over]="isDragOver"
                            (dragover)="onDragOver($event)" (dragleave)="onDragLeave($event)"
                            (drop)="onDrop(reemplazarDocumentoForm, $event)">
                            <i class="fas fa-upload fa-3x"></i>
                            <p class="mt-3 mb-0 text-muted">Haz clic o arrastra un archivo aquí</p>
                        </div>

                        <input type="file"  accept=".pdf, .jpg, .jpeg, .png"  (change)="onFileSelected(reemplazarDocumentoForm, $event)"
                            id="documentoReemplazo" class="hidden-input">
                    </label>
                </div>

                <p *ngIf="getValidationStatus(reemplazarDocumentoForm,'documento') == 'invalid'" class="invalid-field">
                    Debe adjuntar un documento para reemplazar.
                </p>
                <div *ngIf="getFileName('reemplazar')" class="mt-2 text-muted text-center">
                    Archivo seleccionado: <strong>{{ getFileName('reemplazar') }}</strong>
                </div>
            </div>

            <div class="d-flex justify-content-end mt-4">
                <button type="submit" class="btn btn-success" [disabled]="reemplazarDocumentoForm.invalid" (click)="aceptar()">
                    Reemplazar
                </button>
            </div>
        </form>
    </div>

</ng-template>

<ng-template #verDocumentoModal let-aceptar="aceptar" let-cancelar="cancelar">
    <div class="visor">
        <div class="pdf-container">
            <div class="pdf-header p-2">
                <p class="pdf-title"><i class="fas fa-file m-2"></i> {{documentoVisor.nombre}}</p>
            </div>

            <!-- Aquí va el PDF embebido -->
            <embed [src]="documentVisorURL" type="application/pdf" class="pdf-viewer" id="pdfViewer"
                *ngIf="documentVisorURL" />

            <!-- Contenido alternativo si el PDF no se puede mostrar -->
            <div class="pdf-fallback" style="display: none;" id="pdfFallback">
                <h3>No se puede mostrar el PDF</h3>
                <p>Tu navegador no soporta la visualización de archivos PDF integrados.</p>
                <a href="ruta/al/archivo.pdf" class="download-link" download>
                    Descargar PDF
                </a>
            </div>

            <div class="pdf-info">
                <strong>Archivo:</strong> {{documentoVisor.nombre}} |
                <strong>Tamaño:</strong> {{documentoVisor.size |  sizeFormat }} |
                <strong>Última modificación: </strong>{{documentoVisor.fechaRegistro | fechaMexico }} |
                <strong>Tipo: </strong>{{documentoVisor.type || null }}
            </div>
        </div>
    </div>

</ng-template>

<ng-template #eliminarDocumentoModal let-aceptar="aceptar">

    <div class="alert alert-warning m-auto" role="alert">
        <strong>Advertencia:</strong> Esta acción eliminará el archivo de manera permanente, asegúrese de que es lo que realmente quiere hacer. 
      </div>
</ng-template>