.nav-link {
  padding: 3px 1rem;
}

.nav-link.active {
  background-color: white; /* Color de fondo cuando está activo */   
  border-radius: 0.4rem; /* Bordes redondeados arriba, y rectos abajo para un mejor "enlace" */
}
.nav-item{
  background-color: rgba(149, 160, 173, 0.219);
  padding:6px
  
}


.asunto-info {
  max-width: 75%;
  /* min-width: 200px; */
  overflow: hidden;
}

.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  display: block;

}

.text-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

.tab-content {
  flex-grow: 1;
  overflow-y: auto;
  padding: 1.0rem;
  
}

.text-icon {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.icon-circle {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #7bb7ff;
  color: white;
}

.row {
  padding-bottom: 1rem;
}

.section {
  margin-bottom: 1rem;
}

.section-header {
  padding:0 0 1rem 0;
  border-bottom: 1px solid #dee2e6;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}
.field label {
  display: block;
  font-weight: 600;
  color: #6c757d;
  margin-bottom: 0.25rem;
  font-size: 0.9rem;
}


/* Ocultar el input real */
.hidden-input {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
}

/* Zona de arrastre con icono */
.drop-zone {
    width: 100%;
    height: 200px;
    border: 2px dashed #ccc;
    border-radius: 10px;
    display: flex;
    flex-direction: column; /* This is the key! */
    align-items: center; /* Centers horizontally along the cross-axis */
    justify-content: center; /* Centers vertically along the main-axis */
    cursor: pointer;
    transition: all 0.3s ease;
}

.drop-zone:hover {
    background: #f8f9fa;
    border-color: #0c8d07;
}

.drop-zone i {     
    color: #09997a;
}


.visor{
  width: 100%;
  min-height: 85vh;  
}

.document-header {
  display: flex;
  align-items: flex-start;
  gap: 15px;
  font-size: small;

}

.document-icon {
  font-size: 2rem;
  min-width: 40px;
}

.document-title {
  font-size: 1.1rem;
  font-weight: 600;
  color: #474747;
  display: -webkit-box;
  line-clamp: 2;    // Limita a 2 líneas
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 2.6em; 
}

.pdf-container {
            height: 85vh;
            margin: 0 auto;
            background-color: white;
            border-radius: 8px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            overflow: hidden;
        }

        .pdf-header {
            background-color: #2c3e50;
                        
            display: flex;
            align-items: center;
          }
          
          .pdf-title {
            font-size: 18px;
            font-weight: bold;
            margin: 0;
            color: white;
        }

        
        .pdf-viewer {
            width: 100%;
            height: 85%;
            border: none;
            display: block;
        }


        .pdf-info {
            padding: 30px 30px;
            height: 10%;
            background-color: #ecf0f1;
            border-top: 1px solid #bdc3c7;
            font-size: 15px;
            color: #7f8c8d;
        }


input.editControl {
    width: 100%;
    padding: 2px;
    border: none;
    /* border-bottom: 1px solid ; */
    box-shadow: 0px 7px 3px -6px gray;
    height: 30px;

    transition: all 0.1s ease-in-out;
    appearance: auto;
    padding: 5px;

    &:focus {
       outline: none;
    }
    &:active{
       outline: none;

    }
}

select.editControl{
  padding: 2px;
  height: 35px;
  box-shadow: 0 0 8px -3px gray;
  border: none;
  width: 100%;
  border-radius: 5px;
  outline: none;
}
textarea.editControl{
  width: 100%;
  height: 150px!important;
  outline: none;
  border: none;
  box-shadow: 0 0 8px -3px gray;
  padding: 10px;

}

@keyframes destello {
  0%, 100% {
    
    filter: drop-shadow(0 0 0px rgba(0, 255, 0, 0.8));
    transform: scale(1);
  }
  50% {
    filter: drop-shadow(0 0 4px rgba(0, 255, 0, 0.8));
    transform: scale(1.1);
  }
}

.destello {
  animation: destello 1s infinite ease-in-out;
}