<div class="container-fluid w-90">
    <!-- titulo Análi sis -->
    <div class="row pt-3 ">
        <div class="col-12 ">
            <h1 class="pt-2 tituloBorderLeft ">Registro de asunto</h1>
        </div>

    </div>
    <div class="row">

        <div class="">
            <h3 class="p-1 frmlabel">Datos generales</h3>
        </div>

        <!-- Formulario de registro de asunto -->
        <form [formGroup]="documentoForm">

            <!-- Primera fila: Tipo documento, Número oficio, Tema -->
            <div class="row">
                <div class="col-md-4">
                    <label class="form-label frmlabel required" for="idTipoDocumento">Tipo de documento</label>
                    <div class="input-icon-wrapper">
                        <i
                            [ngClass]="getValidationStatus('idTipoDocumento') == 'valid' ? 'fas fa-check-circle icon valid-icon' : getValidationStatus('idTipoDocumento') == 'invalid' ? 'fas fa-times-circle icon invalid-icon': 'd-none'"></i>
                        <select id="idTipoDocumento" class="form-control" formControlName="idTipoDocumento"
                            [class.invalid]="getValidationStatus('idTipoDocumento') == 'invalid'"
                            [class.valid]="getValidationStatus('idTipoDocumento') == 'valid'">
                            <option value="null" disabled selected>Seleccione</option>
                            <option *ngFor="let t of tipoDocumentoDS" [value]="t.idTipoDocumento">{{ t.tipoDocumento }}</option>
                        </select>
                    </div>
                    <p *ngIf="getValidationStatus('idTipoDocumento') == 'invalid'" class="invalid-field">Campo
                        obligatorio.</p>
                </div>

                <div class="col-md-4">
                    <label class="form-label frmlabel required" for="noOficio">Número de oficio</label>
                    <div class="input-icon-wrapper">
                        <i
                            [ngClass]="getValidationStatus('noOficio') == 'valid' ? 'fas fa-check-circle icon valid-icon' : getValidationStatus('noOficio') == 'invalid' ? 'fas fa-times-circle icon invalid-icon': 'd-none'"></i>
                        <input id="noOficio" type="text" placeholder="Número de oficio" formControlName="noOficio"
                            class="form-control" [class.invalid]="getValidationStatus('noOficio') == 'invalid'"
                            [class.valid]="getValidationStatus('noOficio') == 'valid'" />
                    </div>
                    <p *ngIf="getValidationStatus('noOficio') == 'invalid'" class="invalid-field">Campo
                        obligatorio.</p>
                </div>

                <div class="col-md-4">
                    <label class="form-label frmlabel required" for="idTema">Tema</label>
                    <div class="input-icon-wrapper">
                        <i
                            [ngClass]="getValidationStatus('idTema') == 'valid' ? 'fas fa-check-circle icon valid-icon' : getValidationStatus('idTema') == 'invalid' ? 'fas fa-times-circle icon invalid-icon': 'd-none'"></i>
                        <select id="idTema" class="form-control" formControlName="idTema"
                            [class.invalid]="getValidationStatus('idTema') == 'invalid'"
                            [class.valid]="getValidationStatus('idTema') == 'valid'">
                            <option value="" disabled selected>Seleccione</option>
                            <option *ngFor="let t of temas" [value]="t.idTema">{{ t.tema}}</option>
                        </select>
                    </div>
                    <p *ngIf="getValidationStatus('idTema') == 'invalid'" class="invalid-field">Campo obligatorio.</p>
                </div>
            </div>

            <!-- Segunda fila: Fechas y Prioridad -->
            <div class="row">
                <div class="col-md-3">
                    <label class="form-label frmlabel required" for="fechaDocumento">Fecha del documento</label>
                    <div class="input-icon-wrapper">
                        <i
                            [ngClass]="getValidationStatus('fechaDocumento') == 'valid' ? 'fas fa-check-circle icon valid-icon' : getValidationStatus('fechaDocumento') == 'invalid' ? 'fas fa-times-circle icon invalid-icon': 'd-none'"></i>
                        <input type="date" id="fechaDocumento" class="form-control" formControlName="fechaDocumento"
                            [class.invalid]="getValidationStatus('fechaDocumento') == 'invalid'"
                            [class.valid]="getValidationStatus('fechaDocumento') == 'valid'" />
                    </div>
                    <p *ngIf="getValidationStatus('fechaDocumento') == 'invalid'" class="invalid-field">Fecha no puede
                        ser mayor a hoy.</p>
                </div>

                <div class="col-md-3">
                    <label class="form-label frmlabel required" for="fechaRecepcion">Fecha de recepción</label>
                    <div class="input-icon-wrapper">
                        <i
                            [ngClass]="getValidationStatus('fechaRecepcion') == 'valid' ? 'fas fa-check-circle icon valid-icon' : getValidationStatus('fechaRecepcion') == 'invalid' ? 'fas fa-times-circle icon invalid-icon': 'd-none'"></i>
                        <input type="date" id="fechaRecepcion" class="form-control" formControlName="fechaRecepcion"
                            [class.invalid]="getValidationStatus('fechaRecepcion') == 'invalid'"
                            [class.valid]="getValidationStatus('fechaRecepcion') == 'valid'" />
                    </div>
                </div>

                <div class="col-md-3">
                    <label class="form-label frmlabel" for="fechaCumplimiento">Fecha y hora de
                        cumplimiento</label>
                    <div class="input-icon-wrapper">
                        <i
                            [ngClass]="getValidationStatus('fechaCumplimiento') == 'valid' ? 'fas fa-check-circle icon valid-icon' : getValidationStatus('fechaCumplimiento') == 'invalid' ? 'fas fa-times-circle icon invalid-icon': 'd-none'"></i>
                        <input type="datetime-local" id="fechaCumplimiento" class="form-control"
                            formControlName="fechaCumplimiento"
                            [class.invalid]="getValidationStatus('fechaCumplimiento') == 'invalid'"
                            [class.valid]="getValidationStatus('fechaCumplimiento') == 'valid'" />
                    </div>
                    <p *ngIf="getValidationStatus('fechaCumplimiento') == 'invalid'" class="invalid-field">No puede ser
                        anterior a hoy.</p>
                </div>

                <div class="col-md-3">
                    <label class="form-label frmlabel required" for="prioridad">Prioridad</label>
                    <div class="input-icon-wrapper">
                        <i
                            [ngClass]="getValidationStatus('idPrioridad') == 'valid' ? 'fas fa-check-circle icon valid-icon' : getValidationStatus('idPrioridad') == 'invalid' ? 'fas fa-times-circle icon invalid-icon': 'd-none'"></i>
                        <select id="idPrioridad" class="form-control" formControlName="idPrioridad"
                            [class.invalid]="getValidationStatus('idPrioridad') == 'invalid'"
                            [class.valid]="getValidationStatus('idPrioridad') == 'valid'">
                            <option value="" disabled selected>Seleccione</option>
                            <option *ngFor="let t of prioridad" [value]="t.idPrioridad">{{ t.prioridad }}</option>
                        </select>
                    </div>
                    <p *ngIf="getValidationStatus('idPrioridad') == 'invalid'" class="invalid-field">Campo obligatorio.
                    </p>
                </div>
            </div>

            <!-- Tercera fila: Checkboxes volante y guía -->
            <div class="row">
                <!-- Volante -->
                <div class="col-md-3">
                    <label class="form-label frmlabel" for="esVolante">Es volante</label>
                    <div class="input-icon-wrapper">
                        <input class="form-check-input" type="checkbox" formControlName="esVolante" id="esVolante" />
                        <input *ngIf="documentoForm.get('esVolante')?.value" type="text" formControlName="numeroVolante"
                            style="width:80%; display: inline;" placeholder="No. de volante" class="form-control ms-2"
                            [class.invalid]="getValidationStatus('numeroVolante') == 'invalid'"
                            [class.valid]="getValidationStatus('numeroVolante') == 'valid'" />
                    </div>
                    <p *ngIf="documentoForm.get('esVolante')?.value && getValidationStatus('numeroVolante') == 'invalid'"
                        class="invalid-field">
                        Campo obligatorio.
                    </p>
                </div>

                <!-- Guía -->
                <div class="col-md-3">
                    <label class="form-label frmlabel" for="esGuia">Es guía</label>
                    <div class="input-icon-wrapper">
                        <input class="form-check-input" type="checkbox" formControlName="esGuia" id="esGuia" />
                        <input *ngIf="documentoForm.get('esGuia')?.value" type="text" formControlName="numeroGuia"
                            style="width:80%; display: inline;" placeholder="No. de guía" class="form-control ms-2"
                            [class.invalid]="getValidationStatus('numeroGuia') == 'invalid'"
                            [class.valid]="getValidationStatus('numeroGuia') == 'valid'" />
                    </div>
                    <p *ngIf="documentoForm.get('esGuia')?.value && getValidationStatus('numeroGuia') == 'invalid'"
                        class="invalid-field">
                        Campo obligatorio.
                    </p>
                </div>
            </div>

            <!-- Cuarta fila: Descripción del asunto -->
            <div class="row">
                <div class="col-12">
                    <label class="form-label frmlabel required" for="descripcionAsunto">Descripción del asunto</label>
                    <div class="input-icon-wrapper">
                        <i
                            [ngClass]="getValidationStatus('descripcionAsunto') == 'valid' ? 'fas fa-check-circle icon valid-icon' : getValidationStatus('descripcionAsunto') == 'invalid' ? 'fas fa-times-circle icon invalid-icon': 'd-none'"></i>
                        <textarea id="descripcionAsunto" class="form-control" formControlName="descripcionAsunto"
                            [class.invalid]="getValidationStatus('descripcionAsunto') == 'invalid'"
                            [class.valid]="getValidationStatus('descripcionAsunto') == 'valid'"></textarea>
                    </div>
                    <p *ngIf="getValidationStatus('descripcionAsunto') == 'invalid'" class="invalid-field">Campo
                        obligatorio.</p>
                </div>
            </div>

            <!-- Título: Datos de recepción -->
            <div class="row mt-4">
                <div class="">
                    <h3 class="p-1 frmlabel">Datos de recepción</h3>
                </div>
            </div>

            <!-- Quinta fila: Campos del remitente (dinámicos) -->
            <div class="row">
                <div class="col-md-4" *ngFor="let field of remitenteFields">
                    <label class="form-label frmlabel required" [for]="field.name">{{ field.label }}</label>
                    <div class="input-icon-wrapper">
                        <i
                            [ngClass]="getValidationStatus(field.name) == 'valid' ? 'fas fa-check-circle icon valid-icon' : getValidationStatus(field.name) == 'invalid' ? 'fas fa-times-circle icon invalid-icon': 'd-none'"></i>
                        <input type="text" [id]="field.name" class="form-control" [formControlName]="field.name"
                            [placeholder]="field.label" [class.invalid]="getValidationStatus(field.name) == 'invalid'"
                            [class.valid]="getValidationStatus(field.name) == 'valid'" />
                    </div>
                    <p *ngIf="getValidationStatus(field.name) == 'invalid'" class="invalid-field">Campo obligatorio.</p>
                </div>
            </div>

            <!-- Séptima fila: Medio y Recepción -->
            <div class="row">
                <!-- Documento principal -->
                <div class="col-md-4">
                    <label class="form-label frmlabel required" for="documento">Documento</label>
                    <div class="row">
                        <div class="col-md-9">
                            <input type="text" id="nombreDocumento" class="form-control" maxlength="100" [ngModelOptions]="{standalone: true}"
                                [(ngModel)]="nombreDocumento" name="nombreDocumento"
                                placeholder="Ingrese el nombre del documento" />
                        </div>
                        <div class="col-md-3">
                            <label for="documento" class="form-label d-block text-center">
                                <div id="drop-zone" class="drop-zone">
                                    <i class="fas fa-upload"></i>
                                </div>
                            </label>
                            <input type="file" id="documento" class="hidden-input"
                                (change)="onDocumentoSeleccionado($event)">
                        </div>
                    </div>

                    <div class="row" *ngIf="documento">
                        <div class="col-12">
                            <div class="document-list">
                                <div class="document-item">
                                     <span class="pl-2 pr-2">  {{ documento.nombre || documento.file.name }} </span>
                                    <i class="fas fa-trash-alt delete-icon" (click)="borrarDocumento()"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Anexos -->
                <div class="col-md-4">
                    <label class="form-label frmlabel" for="anexos">Anexos</label>
                    <div class="row">
                        <div class="">
                            <label for="anexo" class="form-label d-block text-center">
                                <div id="drop-zone" class="drop-zone">
                                    <i class="fas fa-upload"></i>
                                </div>
                            </label>
                            <input type="file" id="anexo" class="hidden-input" (change)="onAnexoSeleccionado($event)">
                        </div>
                    </div>

                    <div class="row" *ngIf="anexos.length > 0">
                        <div class="col-12">
                            <div class="document-list">
                                <div class="document-item" *ngFor="let anexo of anexos">                                        
                                        <span class="pl-2 pr-2"> {{ anexo.name }}</span >
                                        <i class="fas fa-trash-alt delete-icon pr-5" (click)="borrarAnexo(anexo)"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <label class="form-label frmlabel required" for="medio">Medio de recepción</label>
                    <div class="input-icon-wrapper">
                        <i
                            [ngClass]="getValidationStatus('idMedio') == 'valid' ? 'fas fa-check-circle icon valid-icon' : getValidationStatus('idMedio') == 'invalid' ? 'fas fa-times-circle icon invalid-icon': 'd-none'"></i>
                        <select id="idMedio" class="form-control" formControlName="idMedio"
                            [class.invalid]="getValidationStatus('idMedio') == 'invalid'"
                            [class.valid]="getValidationStatus('idMedio') == 'valid'">
                            <option value="" disabled selected>Seleccione</option>
                            <option *ngFor="let t of medio" [value]="t.idMedioRecepcion">{{ t.medioRecepcion }}</option>
                        </select>
                    </div>
                    <p *ngIf="getValidationStatus('idMedio') == 'invalid'" class="invalid-field">Campo obligatorio.</p>
                </div>

                <!-- <div class="col-md-3">
                    <label class="form-label frmlabel required" for="recepcion">Recepción</label>
                    <div class="input-icon-wrapper">
                        <i
                            [ngClass]="getValidationStatus('recepcion') == 'valid' ? 'fas fa-check-circle icon valid-icon' : getValidationStatus('recepcion') == 'invalid' ? 'fas fa-times-circle icon invalid-icon': 'd-none'"></i>
                        <select id="recepcion" class="form-control" formControlName="recepcion"
                            [class.invalid]="getValidationStatus('recepcion') == 'invalid'"
                            [class.valid]="getValidationStatus('recepcion') == 'valid'">
                            <option value="" disabled selected>Seleccione</option>
                            <option *ngFor="let t of opciones['recepcion']" [value]="t.id">{{ t.nombre }}</option>
                        </select>
                    </div>
                    <p *ngIf="getValidationStatus('recepcion') == 'invalid'" class="invalid-field">Campo obligatorio.
                    </p>
                </div> -->
            </div>

            <p class="text-auxiliary text-muted pt-4">* Campos obligatorios</p>

            <!-- Octava fila: Botones -->
            <div class="row pt-4">
                <div class="col-12">
                    <div class="text-center">
                        <button type="button" class="m-2 btn btn-secondary" (click)="openModalPrev()">Previsualizar</button>
                        <button  class="m-2 btn btn-primary" (click)="openConfirmModal()" [disabled]="documentoForm.invalid || documento == null || documento == undefined">Guardar</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- template modal-->
<ng-template #modalPrevisualizar let-acepar = 'cerrar'>
<div class="container mt-4">
  <h4 class="mb-4">Previsualización del documento</h4>

  <!-- Datos generales -->
  <div class="row mb-3">
    <div class="col-md-6">
      <p><strong>Tipo de documento:</strong> {{encontrarPorId(tipoDocumentoDS, 'idTipoDocumento', documentoForm.value.idTipoDocumento,'tipoDocumento') || ''}}</p>
      <p><strong>Número de oficio:</strong> {{ documentoForm.value.noOficio }}</p>
      <p><strong>Tema:</strong> {{ encontrarPorId(temas, 'idTema', documentoForm.value.idTema, 'tema') || ''}}</p>
      <p><strong>Fecha del documento:</strong> {{ documentoForm.value.fechaDocumento | fechaMexico }}</p>
      <p><strong>Fecha de recepción:</strong> {{ documentoForm.value.fechaRecepcion | fechaMexico }}</p>
      <p><strong>Fecha de cumplimiento:</strong> {{ documentoForm.value.fechaCumplimiento | fechaMexico }} </p>
      <p><strong>Prioridad:</strong> {{ encontrarPorId(prioridad, 'idPrioridad', documentoForm.value.idPrioridad,'prioridad') || ''}}</p>
    </div>

    <div class="col-md-6">
      <p><strong>Medio de recepción:</strong> {{ encontrarPorId(medio, 'idMedioRecepcion', documentoForm.value.idMedio,'medioRecepcion') || ''}}</p>      
      <p><strong>Es volante:</strong> {{ documentoForm.value.esVolante ? 'Sí' : 'No' }}</p>
      <p *ngIf="documentoForm.value.esVolante"><strong>Número de volante:</strong> {{ documentoForm.value.numeroVolante }}</p>
      <p><strong>Es guía:</strong> {{ documentoForm.value.esGuia ? 'Sí' : 'No' }}</p>
      <p *ngIf="documentoForm.value.esGuia"><strong>Número de guía:</strong> {{ documentoForm.value.numeroGuia }}</p>
    </div>
  </div>

  <hr />

  <!-- Remitente y destinatario -->
  <div class="row mb-3">
    <div class="col-md-6">
      <h5>Remitente</h5>
      <p><strong>Nombre:</strong> {{ documentoForm.value.remitenteNombre }}</p>
      <p><strong>Cargo:</strong> {{ documentoForm.value.remitenteCargo }}</p>
      <p><strong>Dependencia:</strong> {{ documentoForm.value.remitenteDependencia }}</p>
    </div>

    <div class="col-md-6">
      <h5>Dirigido a</h5>
      <p><strong>Nombre:</strong> {{ documentoForm.value.dirigidoA }}</p>
      <p><strong>Cargo:</strong> {{ documentoForm.value.dirigidoACargo }}</p>
      <p><strong>Dependencia:</strong> {{ documentoForm.value.dirigidoADependencia }}</p>
    </div>
  </div>

  <!-- Descripción -->
  <div class="mb-4">
    <h5>Descripción del asunto</h5>
    <div class="bg-light p-3 rounded border">
      {{ documentoForm.value.descripcionAsunto }}
    </div>
  </div>

  <!-- Documento principal -->
  <div class="mb-4">
    <h5>Documento principal</h5>
    <div class="d-flex align-items-center rounded p-2">
        <span *ngIf="documento">
        <i class="fas fa-file-alt fa-lg me-2 text-primary"></i>
        <strong>{{ documento.nombre || documento.file.name }}</strong>
      </span>
    </div>
  </div>

  <!-- Anexos -->
  <div *ngIf="anexos.length > 0" class="mb-4">
    <h5>Anexos</h5>
    <ul class="list-group">
      <li class="list-group-item d-flex align-items-center" *ngFor="let anexo of anexos">
        <i class="fas fa-paperclip me-2 text-secondary"></i>
        {{ anexo.name }}
      </li>
    </ul>
  </div>
</div>

</ng-template>


<ng-template #respuestaRegistroModal>
    <div class="p-2">
    <h4 class="frmlabel text-center p-3">Folio: <strong class="text-success">{{response.model.folio}}</strong></h4>
    <small class="text-muted">Este folio ha sido generado automáticamente por el sistema</small>
    <!-- footer -->
    <div class="footer d-flex justify-content-end align-items-center">    
    </div>
    </div>
</ng-template>

<ng-template #confirmModal >
    <p><strong>¿Está seguro de enviar la información del asunto al sistema?</strong></p>
</ng-template>

