
/* Ocultar el input real */
.hidden-input {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
}

/* Zona de arrastre con icono */
.drop-zone {
    width: 100%;
    height: 40px;
    border: 2px dashed #ccc;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

.drop-zone:hover {
    background: #f8f9fa;
    border-color: #0c8d07;
}

.drop-zone i {
    font-size: 18px;
    color: #09997a;
}

.document-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-top: 4px;
    
}

.document-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #f9f9f9;
    font-size: 14px;
    
    span{
        /* texto oculto al overflow */
    overflow: hidden!important;
    text-overflow: ellipsis!important;
    white-space: nowrap!important;
    }

}


.document-item i {
    color: #9bc4ef;
    cursor: pointer;
}

.delete-icon {
    color: #dc3545!important;
}

.delete-icon:hover {
    color: #a71d2a!important;
}

h5 {
  margin-bottom: 0.75rem;
  font-weight: 600;
}

p {
  margin-bottom: 0.5rem;
}