:host {
    background: linear-gradient(90deg, rgba(151, 149, 149, 0.7), rgba(232, 232, 232, 0.5)),
                url('/img/aduanas.jpg') no-repeat center center;
    background-size: cover;
    min-height: 60vh;
    display: block;

  }
  
  .card {
    border-radius: 1rem;
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.85);
  }

  .login-container {
            min-width: 300px;
            max-width: 800px;
            width: 100%;
        }


  .optionsIcon{
    position: absolute;
    right: 20px;
    padding: 20px;
    min-width: 40px;
}