<div class="login-wrapper container-fluid vh-100 d-flex align-items-center justify-content-center">
  <div class="login-content   row  justify-content-center align-items-center">

    <!-- Sección del logo e info del sistema (solo en desktop) -->
    <div class="col-md-7 d-none d-md-flex flex-column align-items-center justify-content-center system-info">
      <img src="img/anam.png" alt="ANAM Logo" class="img-fluid mb-3" style="max-width: 200px;">
      <h1 class="display-4 fw-bold mb-3">SGC</h1>
      
      <p class="lead text-muted fw-bold text-center w-75">
        Sistema de Monitoreo de Correspondencia Digital 
      </p>
    </div>
    
    <!-- Columna derecha: Card de login -->
    <div class=" col-md-5 h-100">
      <!-- Solo visible en móvil -->
      <div class="d-md-none text-center mb-3">
        <h1 class="fw-bold">SGC</h1>
        <p class="small text-muted fw-bold text-center px-3">
          Sistema de Monitoreo de Correspondencia Digital 
        </p>
      </div>

      <div class=" p-4 login-card">
        <h2 class="text-center mb-3 text-primary">Iniciar sesión</h2>

        <form (ngSubmit)="login()">
          <div class="mb-3 position-relative">
            <label for="username" class="form-label fw-bold">Usuario</label>
            <input type="text" id="username" class="form-control" [(ngModel)]="username" name="username" placeholder="Usuario" required />
          </div>

          <div class="mb-3 position-relative">
            <label for="password" class="form-label fw-bold">Contraseña</label>
            <i [ngClass]="hiddenPassw ? 'fas fa-eye-slash optionsIcon' : 'fas fa-eye optionsIcon'"
               (click)="sethidden()" id="password"></i>
            <input [type]="hiddenPassw ? 'text' : 'password'" class="form-control" placeholder="Contraseña" maxlength="255">
          </div>

          <div *ngIf="error" class="alert alert-danger">{{ error }}</div>

          <button type="submit" class="btn btn-primary w-100">
            Ingresar <i class="fas fa-sign-in-alt ms-2"></i>
          </button>
        </form>

        <div class="row pt-3">
          <div class="col-md-6 mt-3">
            <div class="d-flex align-items-center flex-nowrap">
              <i class="info-btn-login p-2 fas fa-user-circle fa-2x text-secondary"></i>
              <i class="info-btn-login p-2 fas fa-shield-alt fa-2x text-secondary"></i>
              <i class="info-btn-login p-2 fas fa-question-circle fa-2x text-secondary"></i>
            </div>
          </div>
          <div class="col-md-6 text-end mt-3">
            <a href="#" class="hover-line-right_local text-decoration-none text-success fw-bold">Crear cuenta</a><br />
            <a href="#" class="hover-line-right_local text-decoration-none text-muted fw-bold">Olvidé mi contraseña</a>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>