<div class="container-fluid ">
    <!-- titulo Análisis -->
    <div class="row p-3 ">
        <div class="col-12 ">
            <h1 class="pt-2">Bienvenido</h1>
        </div>

    </div>

     <div class="container-fluid">
        <div class="row">

        <!-- Main Content -->
            <main class="col-md-12">
                <!-- mensaje de bienvenida dentro de una card  -->
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Bienvenido a SCG</h5>
                        <p class="card-text">Sistema de Control de Gestión</p>
                        <p class="card-text">Aquí podrás gestionar y monitorear la correspondencia digital de manera eficiente.</p>
                        <p class="card-text">Para comenzar, haz clic en el botón a continuación.</p>    
                        <a href="/registro-asunto" class="btn btn-primary">Comenzar</a>
                    </div>
                </div>

                <!-- Aquí puedes agregar más contenido -->

            </main>
        </div>
     </div>
</div>