<div class="d-flex flex-column h-100 content-resistant">  
  <div class="m-4 border-bottom">
    <div class="d-flex justify-content-between align-items-start mb-1">
      <div>
        <h1 class="fw-bold mb-1 text-muted">Asuntos registrados</h1>
        <small class="m-2 fw-bold text-muted">{{asuntosFiltrados.length}} resultados</small>
      </div>
    </div>

    <!-- Chevron para colapsar filtros (pendiente implementar lógica) -->

    <div class="p-2 bg-light">
      <div class="row pb-3">
        <div class="col-md-12">
          <input type="text" class="form-control" placeholder="Buscar..." [(ngModel)]="filtroTexto" />
        </div>
      </div>

      <div class="row g-3 p-2">
        <div class="col-md-4">
          <select class="form-control" [(ngModel)]="filtroEstado">
            <option value="">Todos los Estados</option>
            <option value="pendiente">Pendiente</option>
            <option value="en_progreso">En Progreso</option>
            <option value="completado">Completado</option>
          </select>
        </div>

        <div class="col-md-4">
          <select class="form-control" [(ngModel)]="filtroPrioridad">
            <option value="">Todas las Prioridades</option>
            <option value="alta">Alta</option>
            <option value="media">Media</option>
            <option value="baja">Baja</option>
          </select>
        </div>

        <div class="col-md-4">
          <select class="form-control" [(ngModel)]="filtroTema">
            <option value="">Todos los Temas</option>
            <option *ngFor="let asunto of asuntos" [value]="asunto.Tema">{{ asunto.Tema }}</option>
          </select>
        </div>

        <div class="col-md-4">
          <input type="date" class="form-control" [(ngModel)]="filtroFechaInicio" />
        </div>

        <div class="col-md-4">
          <input type="date" class="form-control" [(ngModel)]="filtroFechaFin" />
        </div>

        <div class="col-md-4 pt-2 text-center">
         <button class="btn btn-outline-secondary btn-sm"
              (click)="filtroTexto = ''; filtroEstado = ''; filtroPrioridad = ''; filtroTema = ''; filtroFechaInicio = null; filtroFechaFin = null">
              <i class="fas fa-filter me-2"></i> Limpiar Filtros
            </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Lista de tarjetas -->
  <div class="p-4 overflow-auto">
    <div *ngFor="let asunto of asuntosFiltrados" class="card card-asunto mb-3 cursor-pointer"
      [ngClass]="{'seleccionado': asuntoSeleccionadoItem?.idAsunto === asunto.idAsunto}"
      (click)="seleccionarAsunto(asunto.idAsunto)">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-start">
          <div class="asunto-info">
          <h6 class="card-title mb-1 fw-bold text-truncate">{{ asunto.noOficio }}</h6>

          <p class="card-text text-muted mb-2 small text-ellipsis text-truncate">
            {{ asunto.descripcionAsunto }}
          </p>

          <div class="d-flex align-items-center text-muted small">
            <i class="fas fa-building-columns me-2 text-secondary"></i>
            <span class="text-truncate">{{ asunto.unidadAdministrativa }}</span>
          </div>

          <div class="d-flex align-items-center text-muted small mt-1">
            <i class="fas fa-calendar-alt me-2 text-secondary"></i>
            <span>{{ asunto.fechaRegistro | fechaMexico }}</span>
          </div>
        </div>

          <div class="text-end">
            <span class="badge me-1" [ngClass]="colors.getEstadoColor(asunto.statusAsunto)">
              <i class="fas" [ngClass]="colors.getEstadoIcon(asunto.statusAsunto)"></i>
              <span class="ms-1 ">
                {{ asunto.statusAsunto.replace('_', ' ') }}
              </span>
            </span>

            <span class="badge" [ngClass]="colors.getPrioridadColor(asunto.prioridad)">
              <i class="fas fa-star me-1 small"></i>
              {{ asunto.prioridad }}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
