<div class="d-flex flex-column h-100">
    <ng-container *ngIf="turnadoSeleccionado; else elseTemplate">
        <div class="d-flex flex-column h-100">
            <div class="p-3 border-bottom bg-white w-100 flex-shrink-0">
                <div class="d-flex justify-content-between align-items-start mb-3">
                    <div class="flex-grow-1 me-3" style="min-width: 0">
                        <div class="d-flex align-items-center mb-1">
                            <span
                            class="tooltip-wrapper down right text-uppercase me-2"
                            [attr.data-tooltip]="'Prioridad ' + turnadoSeleccionado.prioridad"
                            >
                            <i
                                class="fas fa-star"
                                [ngClass]="colors.getPrioridadColor(turnadoSeleccionado.prioridad)"
                            ></i>
                            </span>
                            <h2 class="fw-bold text-truncate mb-0">{{ turnadoSeleccionado.noOficio }}</h2>
                        </div>
                        <div class="text-muted small fw-bold ">
                            <span class="tooltip-wrapper " [attr.data-tooltip]="'Fecha de registro'"><i
                                    class="fas fa-calendar-day text-primary"></i></span>
                            {{ turnadoSeleccionado.fechaRegistro | fechaMexico}}

                        </div>
                        <div class="text-muted small fw-bold">
                            <span class="tooltip-wrapper " [attr.data-tooltip]="'Fecha de cumplimiento'"><i
                                    class="fas fa-calendar-check text-success "></i></span>
                            {{ turnadoSeleccionado.fechaCumplimiento | fechaMexico}}
                        </div>
                    </div>
                    <div class="text-end flex-shrink-0">
                        <div class="d-flex flex-column gap-1">
                            <span class="badge me-1" [ngClass]="colors.getEstadoTurnadoColor(turnadoDS.idStatusTurnado)">
                                <i class="fas" [ngClass]="colors.getEstadoTurnadoIcon(turnadoDS.idStatusTurnado)"></i>
                                <span class="ms-1 ">
                                    {{ turnadoDS.statusTurnado }}
                                </span>
                            </span>
                            <!-- <span class="badge" [ngClass]="this.colors.getPrioridadColor(turnadoSeleccionado.prioridad)">
                                <i class="fas fa-star me-1 small"></i>
                                {{ turnadoSeleccionado.prioridad }}
                            </span> -->
                        </div>
                    </div>
                </div>

                <div class="d-flex gap-2">
                    <button [disabled]="[3, 4].includes(this.turnadoDS.idStatusTurnado)"  class="btn btn-primary btn-sm" (click)="openResponderModal()">
                        <i class="fas fa-share me-2"></i> Dar respuesta 
                    </button>
                    
                    <div role="button" [ngClass]="{'d-none': [3, 4].includes(this.turnadoDS.idStatusTurnado)}"  class="btn btn-outline-secondary btn-sm" (click)="openRechazarTurnado()">
                        <i class="fas fa-times me-2 fw-bold fa-"></i> Rechazar
                    </div>
                </div>
            </div>
            <ul class="nav nav-tabs px-4 pt-3 border-0 nav-fill" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link text-deep-blue" [class.active]="tabActiva === 'detalles'"
            (click)="tabActiva = 'detalles'">
            <i class="fas fa-file-alt me-2"></i> Detalles
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link text-deep-blue" [class.active]="tabActiva === 'expediente'"
            (click)="tabActiva = 'expediente'">
            <i class="fas fa-folder-open me-2"></i> Expediente
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link text-deep-blue" [class.active]="tabActiva === 'respuesta'"
            (click)="tabActiva = 'respuesta'">
            <i class="fas fa-share me-2"></i> Respuesta
        </button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link text-deep-blue" [class.active]="tabActiva === 'historial'"
            (click)="tabActiva = 'historial'">
            <i class="fas fa-clock me-2"></i> Historial
        </button>
    </li>
</ul>

            <!-- Contenido de tabs con scroll -->
            <div class="flex-grow-1 p-4 overflow-auto">
                <!-- Detalles -->
                <div *ngIf="tabActiva === 'detalles'">
                    <!-- Información General -->
                    <div class="section">
                        <div class="section-header">
                            <i class="fas fa-file-alt"></i>
                            <h6 class="fw-bold mb-0">Información General</h6>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="field">
                                    <label>Tipo de Documento:</label>
                                    <div>{{ turnadoSeleccionado.tipoDocumento }}</div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="field">
                                    <label>No. de Oficio:</label>
                                    <div>{{ turnadoSeleccionado.noOficio }}</div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="field">
                                    <label>Es Volante:</label>
                                    <div>{{ turnadoSeleccionado.esVolante ? 'Sí' : 'No' }}</div>
                                </div>
                            </div>
                        </div>

                        <div class="row" *ngIf="turnadoSeleccionado?.esVolante">
                            <div class="col-md-4">
                                <div class="field">
                                    <label>Número de Volante:</label>
                                    <div>{{ turnadoSeleccionado.numeroVolante }}</div>
                                </div>
                            </div>
                        
                            <div class="col-md-4">
                                <div class="field">
                                    <label>Es Guía:</label>
                                    <div>{{ turnadoSeleccionado.esGuia ? 'Sí' : 'No' }}</div>
                                </div>
                            </div>

                            <div class="col-md-4" *ngIf="turnadoSeleccionado?.esGuia">
                                <div class="field">
                                    <label>Número de Guía:</label>
                                    <div>{{ turnadoSeleccionado.numeroGuia }}</div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="field">
                                    <label>Tema:</label>
                                    <div>{{ turnadoSeleccionado.Tema }}</div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="field">
                                    <label>Fecha de Cumplimiento:</label>
                                    <div>
                                        <span *ngIf="turnadoSeleccionado.fechaCumplimiento as fecha; else NoFecha">{{ fecha | fechaMexico:true }} hrs</span>
                                        <ng-template #NoFecha>Sin fecha de cumplimiento</ng-template>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="field">
                                    <label>Prioridad:</label>
                                    <div>{{ turnadoSeleccionado.prioridad }}</div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="field">
                                    <label>Estatus:</label>
                                    <div>{{ turnadoSeleccionado.statusAsunto }}</div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="field">
                                    <label>Usuario que registra:</label>
                                    <div>{{ turnadoSeleccionado.usuarioRegistra }}</div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="field">
                                    <label>Unidad Administrativa:</label>
                                    <div>{{ turnadoSeleccionado.unidadAdministrativa }}</div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="field">
                                    <label>Fecha de Registro:</label>
                                    <div>{{ turnadoSeleccionado.fechaRegistro | fechaMexico:true }}</div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="field">
                                    <label>Fecha del Documento:</label>
                                    <div>{{ turnadoSeleccionado.fechaDocumento | fechaMexico }}</div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                <div class="field">
                                    <label>Descripción:</label>
                                    <div>{{ turnadoSeleccionado.descripcionAsunto }}</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Datos de Recepción -->
                    <div class="section">
                        <div class="section-header">
                            <i class="fas fa-inbox"></i>
                            <h6 class="fw-bold mb-0">Datos de Recepción</h6>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="field">
                                    <label>Fecha de Recepción:</label>
                                    <div>{{ turnadoSeleccionado.fechaRecepcion | fechaMexico }}</div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="field">
                                    <label>Remitente:</label>
                                    <div>{{ turnadoSeleccionado.remitenteNombre }}</div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="field">
                                    <label>Cargo:</label>
                                    <div>{{ turnadoSeleccionado.remitenteCargo }}</div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="field">
                                    <label>Dependencia:</label>
                                    <div>{{ turnadoSeleccionado.remitenteDependencia }}</div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="field">
                                    <label>Dirigido a:</label>
                                    <div>{{ turnadoSeleccionado.dirigidoA }}</div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="field">
                                    <label>Cargo Dirigido a:</label>
                                    <div>{{ turnadoSeleccionado.dirigidoACargo }}</div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="field">
                                    <label>Dependencia Destino:</label>
                                    <div>{{ turnadoSeleccionado.dirigidoADependencia }}</div>
                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="field">
                                    <label>Medio:</label>
                                    <div>{{ turnadoSeleccionado.medio }}</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Observaciones -->
                    <div class="section">
                        <div class="section-header">
                            <i class="fas fa-comment-alt"></i>
                            <h6 class="fw-bold mb-0">Observaciones</h6>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="field">
                                    <div>{{ turnadoSeleccionado.observaciones || 'Sin observaciones' }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- Expediente -->
               <div *ngIf="tabActiva === 'expediente'">
                        <div class="p-4">
                            <!-- Documento principal -->
                            <div class="mb-4">
                                <div class="d-flex justify-content-between align-items-center mb-2">
                                    <h6 class="fw-bold mb-0">Documento Principal</h6>                                   
                                </div>

                                <div *ngIf="documentoPrincipal!=null" class="card p-3 d-flex flex-row justify-content-between align-items-center">
                                    <div class="d-flex align-items-center gap-3">
                                        <i class="fas fa-file-alt fa-2x text-primary"></i>
                                        <div>
                                            <div class="fw-semibold">{{ documentoPrincipal.nombre }}</div>
                                            <div class="text-muted small text-uppercase">
                                               {{ documentoPrincipal.nombre?.split('.').pop() }} • {{
                                                documentoPrincipal.size | sizeFormat
                                                }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex gap-2">
                                        <button class="btn btn-sm btn-light"
                                            (click)="openDocumentoVisor(documentoPrincipal)">

                                            <i class="fas fa-eye"></i>
                                        </button>
                                        <a  target="_blank" href = "{{baseurl + documentoPrincipal.ruta}}" download> 
                                            <button class="btn btn-sm btn-light" >
                                                <i class="fas fa-download"></i>
                                            </button>                                         
                                        </a>
                                        <!-- <button class="btn btn-sm btn-light"
                                            (click)="eliminarDocumento(documentoPrincipal.idDocumentoAsunto)">

                                            <i class="fas fa-trash-alt"></i>
                                        </button> -->
                                        
                                    </div>
                                </div>
                            </div>

                            <hr />

                            <!-- Anexos -->
                            <div>
                                <div class="d-flex justify-content-between align-items-center mb-2">
                                    <h6 class="fw-bold mb-0">Anexos</h6>
                                    
                                </div>

                                <div *ngIf="anexos.length > 0; else sinAnexos">
                                    <div class="card mb-2 p-3" *ngFor="let anexo of anexos">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="d-flex align-items-center gap-3">
                                                <i class="fas fa-paperclip fa-lg text-secondary"></i>
                                                <div>
                                                    <div class="fw-semibold">{{ anexo.nombre }}</div>
                                                    <div class="text-muted small text-uppercase">{{ anexo.nombre?.split('.').pop() }} • {{ anexo.size | sizeFormat }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="d-flex gap-2">
                                                <button class="btn btn-sm btn-light"
                                                    (click)="openDocumentoVisor(anexo)">
                                                    <i class="fas fa-eye"></i>
                                                </button>
                                                <a  target="_blank" href = "{{baseurl + anexo.ruta}}" download> 
                                                    <button class="btn btn-sm btn-light" >
                                                    <i class="fas fa-download"></i>
                                                </button>                                         
                                                </a>

                                               
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <ng-template #sinAnexos>
                                    <p class="text-muted">No hay anexos para este asunto.</p>
                                </ng-template>
                            </div>
                            <hr>

                            <!-- Respuestas turnados -->
                            <div>
                                <div class="d-flex justify-content-between align-items-center mb-2">
                                    <h6 class="fw-bold mb-0">Respuestas </h6>                                    
                                </div>

                                <div *ngIf="respuestasDocs.length > 0; else sinRespuestas">
                                    <div class="card mb-2 p-3" *ngFor="let respuesta of respuestasDocs">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="d-flex align-items-center gap-3">
                                                <i class="fas fa-paperclip fa-lg text-secondary"></i>
                                                <div>
                                                    <div class="fw-semibold">{{ respuesta.nombre }}</div>
                                                    <div class="text-muted small text-uppercase">{{ respuesta.nombre?.split('.').pop() }} • {{ respuesta.size  | sizeFormat}}</div>
                                                    <div class="text-muted small">Turnado No. {{ respuesta.consecutivoTurnado  }} </div>
                                                </div>
                                            </div>
                                            <div class="d-flex gap-2">
                                                <button class="btn btn-sm btn-light"
                                                    (click)="openDocumentoVisor(respuesta)">
                                                    <i class="fas fa-eye"></i>
                                                </button>
                                                <a  target="_blank" href = "{{baseurl + respuesta.ruta}}" download> 
                                                    <button class="btn btn-sm btn-light" >
                                                    <i class="fas fa-download"></i>
                                                </button>                                         
                                                </a>                                               
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <ng-template #sinRespuestas>
                                    <p class="text-muted">Todavía no  hay respuestas disponibles para este asunto.</p>
                                </ng-template>

                                <hr>
                                <!-- Documento conclusion -->
                            <div class="mb-4">
                                <div class="d-flex justify-content-between align-items-center mb-2">
                                    <h6 class="fw-bold mb-0">Documento de conclusión</h6>
                                    <!-- <div role="button" class="btn btn-sm btn-outline-success" (click)="openReemplazarModal()">
                                        <i class="fas fa-upload me-2"></i> Reemplazar Documento
                                    </div > -->
                                </div>

                                <div *ngIf="documentoConclusion!=null" class="card p-3 d-flex flex-row justify-content-between align-items-center">
                                    <div class="d-flex align-items-center gap-3">
                                        <i class="fas fa-file-signature fa-2x text-primary"></i>
                                        <div>
                                            <div class="fw-semibold">{{ documentoConclusion.nombre }}</div>
                                            <div class="text-muted small text-uppercase">
                                                {{ documentoConclusion.nombre?.split('.').pop() }} • {{
                                                documentoConclusion.size | sizeFormat
                                                }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex gap-2">
                                        <button class="btn btn-sm btn-light"
                                            (click)="openDocumentoVisor(documentoConclusion)">

                                            <i class="fas fa-eye"></i>
                                        </button>
                                        <a  target="_blank" href = "{{baseurl + documentoConclusion.ruta}}" download> 
                                            <button class="btn btn-sm btn-light" >
                                                <i class="fas fa-download"></i>
                                            </button>                                         
                                        </a>
                                        <!-- <button class="btn btn-sm btn-light"
                                            (click)="eliminarDocumento(documentoPrincipal.idDocumentoAsunto)">

                                            <i class="fas fa-trash-alt"></i>
                                        </button> -->
                                        
                                    </div>
                                </div>
                            </div>

                            
                            </div>
                        </div>
                    </div>

                <!-- Asignaciones -->
                <div *ngIf="tabActiva === 'respuesta'">
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <h6 class="fw-bold mb-0">Detalle de la respuesta </h6>                        
                    </div>
                    <ng-container *ngIf="turnadoDS.respuesta; else checkMotivoRechazo">
                    <div class="card p-3">
                        <p class="mb-0">{{ turnadoDS.respuesta }}</p>
                    </div>
                    <hr class="my-3">
                    <div class="mb-4">
                                <div class="d-flex justify-content-between align-items-center mb-2">
                                    <h6 class="fw-bold mb-0 pt-3">Documento de respuesta</h6>                                   
                                </div>

                                <div *ngIf="documentoRespuesta!=null" class="card p-3 d-flex flex-row justify-content-between align-items-center">
                                    <div class="d-flex align-items-center gap-3">
                                        <i class="fas fa-file-alt fa-2x text-primary"></i>
                                        <div>
                                            <div class="fw-semibold">{{ documentoRespuesta.nombre }}</div>
                                            <div class="text-muted small text-uppercase">
                                               {{ documentoRespuesta.nombre?.split('.').pop() }} • {{
                                                documentoRespuesta.size | sizeFormat
                                                }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex gap-2">
                                        <button class="btn btn-sm btn-light"
                                            (click)="openDocumentoVisor(documentoRespuesta)">

                                            <i class="fas fa-eye"></i>
                                        </button>
                                        <a  target="_blank" href = "{{baseurl + documentoRespuesta.ruta}}" download> 
                                            <button class="btn btn-sm btn-light" >
                                                <i class="fas fa-download"></i>
                                            </button>                                         
                                        </a>
                                        <!-- <button class="btn btn-sm btn-light"
                                            (click)="eliminarDocumento(documentoPrincipal.idDocumentoAsunto)">

                                            <i class="fas fa-trash-alt"></i>
                                        </button> -->
                                        
                                    </div>
                                </div>
                            </div>

                    </ng-container>

                    <ng-template #checkMotivoRechazo>
                    <ng-container *ngIf="turnadoDS.motivoRechazo; else sinRespuesta">
                        <div class="card p-3 border ">
                        <p class="mb-0 text-primary">Motivo de rechazo:</p>
                        <p class="mb-0">{{ turnadoDS.motivoRechazo }}</p>
                        </div>
                    </ng-container>
                    </ng-template>

                    <ng-template #sinRespuesta>
                    <div class="card p-3 text-muted">
                        <p class="mb-0 fst-italic">Sin respuesta</p>
                    </div>
                    </ng-template>
                    
                    
                    
                    
                </div>

                <!-- Historial -->
                <div *ngIf="tabActiva === 'historial'">
                    <h6 class="fw-bold mb-3">Historial de Actividades</h6>
                    <div class="d-flex gap-3 align-items-start mb-3">
                        <div class="icon-circle bg-primary"></div>
                        <div>
                            <p class="mb-0 fw-semibold">Asunto creado</p>
                            <small class="text-muted">Por {{ turnadoSeleccionado.unidadAdministrativa }} • {{
                                turnadoSeleccionado.fechaRegistro }}</small>
                        </div>
                    </div>
                    <div class="d-flex gap-3 align-items-start mb-3">
                        <div class="icon-circle bg-success"></div>
                        <div>
                            <p class="mb-0 fw-semibold">Documentos agregados</p>
                            <small class="text-muted">{{ turnadoSeleccionado.anexos.length }} documentos • {{
                                turnadoSeleccionado.fechaRegistro }}</small>
                        </div>
                    </div>
                    <div class="d-flex gap-3 align-items-start">
                        <div class="icon-circle bg-warning"></div>
                        <div>
                            <p class="mb-0 fw-semibold">Estado actualizado</p>
                            <small class="text-muted">Cambiado a {{ turnadoSeleccionado.statusAsunto }} • Hace 2
                                días</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
    <ng-template #elseTemplate>
        <div class="d-flex align-items-center justify-content-center h-100">
            <p class="text-muted">Selecciona un asunto para ver los detalles</p>
        </div>
    </ng-template>
</div>



<ng-template #verDocumentoModal let-aceptar="aceptar" let-cancelar="cancelar">
    <div class="visor">
        <div class="pdf-container">
            <div class="pdf-header p-2">
                <p class="pdf-title"><i class="fas fa-file m-2"></i> {{documentoVisor.nombre}}</p>
            </div>

            <!-- Aquí va el PDF embebido -->
            <embed [src]="documentVisorURL" type="application/pdf" class="pdf-viewer" id="pdfViewer"
                *ngIf="documentVisorURL" />

            <!-- Contenido alternativo si el PDF no se puede mostrar -->
            <div class="pdf-fallback" style="display: none;" id="pdfFallback">
                <h3>No se puede mostrar el PDF</h3>
                <p>Tu navegador no soporta la visualización de archivos PDF integrados.</p>
                <a href="ruta/al/archivo.pdf" class="download-link" download>
                    Descargar PDF
                </a>
            </div>

            <div class="pdf-info">
                <strong>Archivo:</strong> {{documentoVisor.nombre}} |
                <strong>Tamaño:</strong> {{documentoVisor.size}} bytes|
                <strong>Última modificación: </strong>{{documentoVisor.fechaRegistro }} |
                <strong>Tipo: </strong>{{documentoVisor.type || null }}
            </div>
        </div>
    </div>

</ng-template>

<ng-template #responderModal let-aceptar="aceptar" let-cancelar="cancelar">
     <div class="container">
        <form [formGroup]="conclusionForm">
            <div class="mb-3">
                <div class="w-100">
                    <span class="mb-2 d-block frmlabel pt-0"><i
                            class="fas fa-file-arrow-up p-2 "></i>Documento de respuesta</span>
                    <label class="text-center w-100">

                        <div id="drop-zone" class="drop-zone" [class.drag-over]="isDragOver"
                            (dragover)="onDragOver($event)" (dragleave)="onDragLeave($event)"
                            (drop)="onDrop(conclusionForm, $event)">
                            <i class="fas fa-upload fa-3x"></i>
                            <p class="mt-3 mb-0 text-muted">Haz clic o arrastra un archivo aquí</p>
                        </div>

                        <input type="file" (change)="onFileSelected(conclusionForm, $event)" id="documentoCierre"
                            class="hidden-input">
                    </label>
                </div>

                <p *ngIf="getValidationStatus(conclusionForm,'documento') == 'invalid'" class="invalid-field">Debe
                    adjuntar un documento de cierre.</p>

                <div *ngIf="getFileName('concluir')" class="mt-2 text-muted text-center">
                    Archivo seleccionado: <strong>{{ getFileName('concluir') }}</strong>
                </div>
            </div>

            <div class="mb-3">
                <label for="respuesta" class="d-block frmlabel pt-0 p-2">Respuesta</label>
                <textarea id="respuesta" formControlName="respuesta" class="form-control" rows="3"
                placeholder="Debe proporcionar una respuesta."></textarea>
                <div *ngIf="getValidationStatus(conclusionForm,'respuesta') == 'invalid'" class="invalid-field">Debe
                    proporcionar una respuesta.</div>
            </div>

            <div class="d-flex justify-content-end mt-4 ">
                <button (click)="aceptar()" class="btn btn-success" [disabled]="conclusionForm.invalid">
                    Concluir
                </button>
            </div>
        </form>
    </div>
</ng-template>
<ng-template #rechazarModal let-aceptar="aceptar" let-cancelar="cancelar">
<div class="container">
    <form [formGroup]="rechazarForm">

        <div class="section">
            <label for="motivoRechazo" class="form-label frmlabel p-0">Motivo de rechazo</label>
            <textarea placeholder="Escribe el motivo de rechazo de este asunto. " name="motivoRechazo" id="motivoRechazo" formControlName="motivoRechazo" class="form-control"[cols]="10"> </textarea>
        </div>
        
        <div class="d-flex justify-content-center align-items-center">
            <button (click)="aceptar()" class="btn btn-primary" [disabled]="rechazarForm.invalid"> Rechazar <i class="fas fa-times-circle m-2"></i></button>
        </div>
    </form>
</div>
</ng-template>

<ng-template #confirmModal let-aceptar="aceptar" let-cancelar="cancelar">
    ¿Está seguro de que desea continuar?
</ng-template>
