<div class="container-override h-100">
  <div class="d-flex h-100 overflow-hidden">
    <!-- Panel izquierdo - Lista de asuntos -->
    <div class="panel-resistant h-100 border-end">
      <app-lista-turnados (turnadoSeleccionado)="recibirAsunto($event)"></app-lista-turnados>
    </div>
    
    <!-- Panel derecho - Detalle de asuntos -->
    <div class="panel-resistant h-100">
      <app-detalle-turnados (cambio)="onCambio($event)" [asuntoInput]="turnadoSeleccionado"></app-detalle-turnados>
    </div>
  </div>
</div>