.nav-link{
  &.active{
    background-color: rgba(#0D324D, 0.2);
    
  }
}

.asunto-info {
  max-width: 75%;
  /* min-width: 200px; */
  overflow: hidden;
}

.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  display: block;
}

.text-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

.card-asunto {
  /* text overflow ellipsis */
    max-width: 100%;
    word-wrap: break-word;
    overflow: hidden;
    cursor: pointer;
    
  &:hover {
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
  }

  &.seleccionado {
    border: 3px solid var(--color-success);    
  }
}

.badge-custom {
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
  font-size: 0.875rem;
  padding: 0.25rem 0.5rem;
  border-radius: 0.375rem;
}

.tab-content {
  flex-grow: 1;
  overflow-y: auto;
  padding: 1.0rem;
}

.text-icon {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.separator {
  border-top: 1px solid #dee2e6;
  margin: 1.5rem 0;
}

.bg-light-gray {
  background-color: #f8f9fa;
  padding: 1rem;
  border-radius: 0.5rem;
}

.icon-circle {
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #04d404;
}
