<div class="d-flex flex-column h-100 content-resistant">  
  <div class="m-4 border-bottom">
    <div class="d-flex justify-content-between align-items-start mb-1">
      <div>
        <h1 class="fw-bold mb-1 text-muted">Asuntos turnados</h1>
        <small class="m-2 fw-bold text-muted">{{asuntosFiltrados.length}} resultados</small>
      </div>
    </div>

    <!-- Chevron para colapsar filtros (pendiente implementar lógica) -->

          <div class="p-2 bg-light">
        <div class="row pb-3">
          <div class="col-md-12">
            <input type="text" class="form-control" placeholder="Buscar..." [(ngModel)]="filtroTexto" />
          </div>
        </div>

        <div class="row g-3 p-1">
          <div class="col-md-4">
            <select class="form-control" [(ngModel)]="filtroEstado">
              <option value="">Todos los estatus</option>
              <option value="1">Recibido</option>
              <option value="2">En visto</option>
              <option value="3">Atendido</option>
              <option value="4">Rechazado</option>
            </select>
          </div>

          <div class="col-md-4">
            <select class="form-control" [(ngModel)]="filtroPrioridad">
              <option value="">Todas las prioridades</option>
              <option value="3">Alta</option>
              <option value="2">Media</option>
              <option value="1">Baja</option>
            </select>
          </div>

          <div class="col-md-4">
            <select class="form-control" [(ngModel)]="filtroTema">
              <option value="">Todos los temas</option>
              <option *ngFor="let t of temaDS" [value]="t.idTema">{{ t.tema }}</option>
            </select>
          </div>

          <fieldset class="p-2 col-md-8 custom-fieldset">
          <legend class="custom-legend">Fecha de turnado</legend>
          <div class="row d-flex justify-content-around align-items-center">
            <div class="col-md-5 w-40 ">
              <input type="date" class="form-control " [(ngModel)]="filtroFechaInicio" placeholder="Fecha de inicio" />
            </div>
            <div class="col-md-1 small"><i class="fas fa-long-arrow-right"></i></div>
            <div class="col-md-5 w-40">
              <input type="date" class="form-control" [(ngModel)]="filtroFechaFin" placeholder="Fecha de fin" />
            </div>
          </div>
        </fieldset>



          <div class="col-md-4 d-flex justify-content-center align-items-center">
          <button class="btn btn-outline-secondary btn-sm"
                (click)="filtroTexto = ''; filtroEstado = ''; filtroPrioridad = ''; filtroTema = ''; filtroFechaInicio = null; filtroFechaFin = null">
                <i class="fas fa-filter me-2"></i> Limpiar Filtros
              </button>
               <div [attr.data-tooltip]="'Recargar'" class="tooltip-wrapper center  px-3 text-success" role="button"
                (click)="consultarTurnados()">
                <i class="fa-solid fa-rotate-right me-2"></i>
              </div>
          </div>
        </div>
      </div>
  </div>

  <!-- Lista de tarjetas -->
  <div class="p-4 overflow-auto">
    <div *ngFor="let asunto of asuntosFiltrados" class="card card-asunto mb-3 cursor-pointer"
      [ngClass]="{'seleccionado': turnadoSeleccionadoItem?.idTurnado === asunto.idTurnado , 'card-animada': cambio}"
      (click)="seleccionarTurnado(asunto)">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-start">
          <div class="asunto-info">
          <h6 class="card-title mb-1 fw-bold text-truncate">{{ asunto.noOficio }}</h6>

          <p class="card-text text-muted mb-2 small text-ellipsis text-truncate">
            {{ asunto.folio }}
          </p>

           <div class="d-flex align-items-center text-muted small">
            <span class="tooltip-wrapper up center" [attr.data-tooltip]="'Tema'"><i class="fas fa-table-list me-2 text-secondary"></i></span>
            <span class="text-truncate">{{ asunto.Tema }}</span>
          </div>
          <div class="d-flex align-items-center text-muted small">
            <span class="tooltip-wrapper up end" [attr.data-tooltip]="'Tipo de documento'"><i class="fas fa-file-alt me-2 text-secondary"></i></span>
            <span class="text-truncate">{{ asunto.tipoDocumento }}</span>
          </div>

          
          <div class="d-flex align-items-center  text-muted small " >
            <span class="tooltip-wrapper down right" [attr.data-tooltip]="'Fecha de turnado'">
              <i class="fas fa-calendar-alt me-2 text-secondary"></i>
              <span  >{{ asunto.fechaTurnado | fechaMexico }}</span>
            </span>
          </div>
         
        </div>
        
          <div class="text-end">
            <span
                            class="tooltip-wrapper down right text-uppercase me-2"
                            [attr.data-tooltip]="'Prioridad ' + asunto.prioridad"
                            >
                            <i
                                class="fas fa-star"
                                [ngClass]="colors.getPrioridadColor(asunto.prioridad)"
                            ></i>
              </span>
                  <span class="badge rounded-3 px-3 py-2"
            [ngClass]="colors.getEstadoTurnadoColor(asunto.idStatusTurnado)">
        <i class="fas me-1"
           [ngClass]="colors.getEstadoTurnadoIcon(asunto.idStatusTurnado)"></i>
        {{ asunto.statusTurnado }}
      </span>


            <!-- <span class="badge" [ngClass]="colors.getPrioridadColor(asunto.prioridad)">
              <i class="fas fa-star me-1 small"></i>
             
            </span> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
