
.asunto-info {
  max-width: 75%;
  min-width: 200px;
 /*  overflow: hidden; */
}

.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  display: block;
}

.text-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

.card-asunto {
  /* text overflow ellipsis */
    max-width: 100%;
    word-wrap: break-word;
    overflow: hidden; 
    cursor: pointer;
    
  &:hover {
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
  }

  &.seleccionado {
    border: 3px solid var(--color-success);    
  }
}

.badge {
  display: inline-flex;
  align-items: center;
  gap: 0.25rem;
  font-size: 0.875rem;
  padding: 0.25rem 0.5rem;
  border-radius: 0.375rem;
}


input, select {
  height: 40px;
  font-size: small;
  cursor: pointer;
  color: var(--color-gray-dark);
}