<div class="d-flex flex-column h-100 content-resistant">  
  <div class="m-4 border-bottom">
    <div class="d-flex justify-content-between align-items-start mb-1">
      <div>
        <h1 class="fw-bold mb-1 text-muted">Asuntos turnados</h1>
        <small class="m-2 fw-bold text-muted">{{asuntosFiltrados.length}} resultados</small>
      </div>
    </div>

    <!-- Chevron para colapsar filtros (pendiente implementar lógica) -->

	<div class="p-2 bg-light">
		<!-- cantidades -->
		<div class="d-flex flex-row justify-content-around mb-4">	
			 <span  
				(click)="filtroEstado = item.idStatusTurnado"  role="button"  *ngFor="let item of cantidades" 
				class="badge rounded-3 px-3 py-2"
				[ngClass]=" filtroEstado === item.idStatusTurnado  ? (item.idStatusTurnado === '' ? 'bg-gold text-white' : colors.getEstadoTurnadoColor(item.idStatusTurnado))  : 'bg-dark-gray text-white'">
			
				<i class="fas" 	[ngClass]=" filtroEstado === item.idStatusTurnado ? (item.idStatusTurnado === '' ? 'fa-folder-open' : colors.getEstadoTurnadoIcon(item.idStatusTurnado)) : 'fa-folder'">
				</i>
				<span class="ms-1">
					{{ item.statusTurnado }} {{ item.cantidad }}
				</span>
			</span>
		 </div>

        <div class="row pb-3">
          <div class="col-md-12">
            <input type="text" class="form-control" placeholder="Buscar..." [(ngModel)]="filtroTexto" />
          </div>
        </div>

        <div class="row g-3 p-1">
          <!-- <div class="col-md-4">
            <select class="form-control" [(ngModel)]="filtroEstado">
              <option value="">Todos los estatus</option>
              <option value="1">Recibido</option>
              <option value="2">En visto</option>
              <option value="3">Atendido</option>
              <option value="4">Rechazado</option>
            </select>
          </div> -->

          <div class="col-md-6">
            <select class="form-control" [(ngModel)]="filtroPrioridad">
              <option value="">Todas las prioridades</option>
              <option value="3">Alta</option>
              <option value="2">Media</option>
              <option value="1">Baja</option>
            </select>
          </div>

          <div class="col-md-6">
            <select class="form-control" [(ngModel)]="filtroTema">
              <option value="">Todos los temas</option>
              <option *ngFor="let t of temaDS" [value]="t.tema">{{ t.tema }}</option>
            </select>
          </div>

          <fieldset class="p-2 col-md-8 custom-fieldset">
          <legend class="custom-legend">Fecha de turnado</legend>
          <div class="row d-flex justify-content-around align-items-center">
            <div class="col-md-5 w-40 ">
              <input type="date" class="form-control " [(ngModel)]="filtroFechaInicio" placeholder="Fecha de inicio" />
            </div>
            <div class="col-md-1 small"><i class="fas fa-long-arrow-right"></i></div>
            <div class="col-md-5 w-40">
              <input type="date" class="form-control" [(ngModel)]="filtroFechaFin" placeholder="Fecha de fin" />
            </div>
          </div>
        </fieldset>



          <div class="col-md-4 d-flex justify-content-center align-items-center">
          <button class="btn btn-outline-secondary btn-sm"
                (click)="filtroTexto = ''; filtroEstado = ''; filtroPrioridad = ''; filtroTema = ''; filtroFechaInicio = null; filtroFechaFin = null">
                <i class="fas fa-filter me-2"></i> Limpiar Filtros
              </button>
               <div [attr.data-tooltip]="'Recargar'" class="tooltip-wrapper center  px-3 text-success" role="button"
                (click)="consultarTurnados()">
                <i class="fa-solid fa-rotate-right me-2"></i>
              </div>
          </div>
        </div>
      </div>
	   <!-- Paginado -->
		<div class="d-flex flex-row justify-content-end align-items-center pb-3">

			<!-- Controles del paginado -->
			<nav *ngIf="totalPages > 1" class="me-2" >
			<ul class="pagination pagination-sm mb-2">
				<!-- Botón anterior -->
				<li class="page-item" [class.disabled]="currentPage === 1">
				<button class="page-link" (click)="cambiarPagina(currentPage - 1)">
					<i class="fas fa-caret-left"></i>
				</button>
				</li>

				<!-- Números de página con abreviación -->
				<li class="page-item" *ngFor="let page of paginasMostradas" [class.active]="page === currentPage">
				<button class="page-link" (click)="cambiarPagina(page)" *ngIf="page !== '...'">{{ page }}</button>
				<span class="page-link text-muted bg-transparent border-0" *ngIf="page === '...'">...</span>
				</li>

				<!-- Botón siguiente -->
				<li class="page-item" [class.disabled]="currentPage === totalPages">
				<button class="page-link" (click)="cambiarPagina(currentPage + 1)">
					<i class="fas fa-caret-right"></i>
				</button>
				</li>
			</ul>
			</nav>

			<!-- Contador de asuntos visibles -->
			<div class="text-muted small text-center">
			Mostrando
		{{ asuntosFiltrados.length === 0 ? 0 : (currentPage - 1) * pageSize + 1 }}
		-
		{{ Math.min(currentPage * pageSize, asuntosFiltrados.length) }}
		de {{ asuntosFiltrados.length }} asuntos
			</div>

			<!-- Selector de cantidad por página -->
		<!--     <div class="text-center mt-2">
				<label for="pageSize" class="small me-2">Mostrar:</label>
				<select id="pageSize"
						[(ngModel)]="pageSize"
						(ngModelChange)="onPageSizeChange($event)"
						class="form-select d-inline w-auto small">
					<option [value]="5">5</option>
					<option [value]="10">10</option>
					<option [value]="20">20</option>
				</select>
				</div>
		-->
		</div>
  </div>

  <!-- Lista de tarjetas -->
  <div class="p-4 overflow-auto">
    <ng-container *ngIf="asuntosFiltrados.length != 0; else elseTemplate;">
      

    
    <div *ngFor="let asunto of asuntosFiltrados" class="card card-asunto mb-3 cursor-pointer"
      [ngClass]="{'seleccionado': turnadoSeleccionadoItem?.idTurnado === asunto.idTurnado , 'card-animada': cambio}"
      (click)="seleccionarTurnado(asunto); verTurnado();">
      <div class="card-body">
        <div class="d-flex justify-content-between align-items-start">
          <div class="asunto-info">
          <h6 class="card-title mb-1 fw-bold text-truncate">{{ asunto.noOficio }}</h6>

          <p class="card-text text-muted mb-2 small text-ellipsis text-truncate">
            {{ asunto.folio }}
          </p>

           <div class="d-flex align-items-center text-muted small">
            <span class="tooltip-wrapper up center" [attr.data-tooltip]="'Tema'"><i class="fas fa-table-list me-2 text-secondary"></i></span>
            <span class="text-truncate">{{ asunto.Tema }}</span>
          </div>
          <div class="d-flex align-items-center text-muted small">
            <span class="tooltip-wrapper up end" [attr.data-tooltip]="'Tipo de documento'"><i class="fas fa-file-alt me-2 text-secondary"></i></span>
            <span class="text-truncate">{{ asunto.tipoDocumento }}</span>
          </div>

          
          <div class="d-flex align-items-center  text-muted small " >
            <span class="tooltip-wrapper down right" [attr.data-tooltip]="'Fecha de turnado'">
              <i class="fas fa-calendar-alt me-2 text-secondary"></i>
              <span  >{{ asunto.fechaTurnado | fechaMexico }}</span>
            </span>
          </div>
         
        </div>
        
          <div class="text-end">
            <span
                            class="tooltip-wrapper down right text-uppercase me-2"
                            [attr.data-tooltip]="'Prioridad ' + asunto.prioridad"
                            >
                            <i
                                class="fas fa-star"
                                [ngClass]="colors.getPrioridadColor(asunto.prioridad)"
                            ></i>
              </span>
                  <span class="badge rounded-3 px-3 py-2"
            [ngClass]="colors.getEstadoTurnadoColor(asunto.idStatusTurnado)">
        <i class="fas me-1"
           [ngClass]="colors.getEstadoTurnadoIcon(asunto.idStatusTurnado)"></i>
        {{ asunto.statusTurnado }}
      </span>


            <!-- <span class="badge" [ngClass]="colors.getPrioridadColor(asunto.prioridad)">
              <i class="fas fa-star me-1 small"></i>
             
            </span> -->
          </div>
        </div>
      </div>
    </div>
        </ng-container>
        <ng-template #elseTemplate>
        <div class="d-flex align-items-center flex-column justify-content-center h-100">
            <img src="img\filesnotFound.png" alt="" style="width: 28%; mix-blend-mode: diference;">
            <p class="text-muted frmlabel pt-3 " style="transform: translateX(-6%);">No se encontraron asuntos</p>
        </div>
    </ng-template>
  </div>
</div>
