<div class="sidebar-container">
			<!-- Sidebar -->
			<nav class="sidebar bg-secondary" [class.collapsed]="sidebarService.isCollapsed()"
			 [class.mobile-visible]="sidebarService.isMobile() && sidebarService.isExpanded()">

				<!-- Menú de navegación -->
				<ul class="sidebar-menu">
					<li class="menu-item" *ngFor="let item of menuUsuario">
						<a href="#" class="menu-link hover-line-left" (click)="selectItem(item, $event)">
							<span class="{{item.icon}}" [innerHTML]=""></span>
							<span class="menu-text" *ngIf="sidebarService.isExpanded()">{{ item.label }}</span>
						</a>
					</li>
				</ul>
		 
			</nav>

			<!-- Overlay para mobile -->
			<div 
				class="sidebar-overlay" 
				*ngIf="sidebarService.isExpanded() && sidebarService.isMobile()"
				(click)="onOverlayClick()">
			</div>
</div>